In [3]:
import pandas as pd

One or two countries have got cleared out in the process of removing duplicates while measuring centralities in R. Some network centrality measure files in the cleaned folder have 189 countries, while some have 190, where all the attributeYEAR.csv files have 190 countries. STERGM requires a list of network objects having the same number of nodes. Hence I will make sure it is the same set of nodes in all attributesYEAR.csv files and in all edgelists. 

**STEPS:**
>1. Making sure all the network metrics files have same set of nodes. I will find out the countries that are not ubiquitous over 2000 to 2023, and remove it from the network metrics files containing that country.
>2. Doing it forr all three sets of network metrics files (unique, reproducible, total) just to make sure all three has same set of countries
>3. Removing those countries from attributeYEAR.csv files
>4. Removing those countries from complete panel data
>5. Removing those countries from all edgelists as well

In [10]:
u_net = {f"u_net{year}" : pd.read_csv(f"../data/cleaned/network_metrics_unique{year}.csv") for year in range(2000, 2024)}

In [12]:
for year, dataframe in u_net.items():
    globals()[year] = dataframe

In [17]:
print(set(u_net2022['iso_o'].unique()) - set(u_net2023['iso_o'].unique()))
print(set(u_net2022['iso_o'].unique()) - set(u_net2021['iso_o'].unique()))
print(set(u_net2015['iso_o'].unique()) - set(u_net2014['iso_o'].unique()))

{'ERI'}
set()
{'NRU'}

In [18]:
print(set(u_net2015['iso_o'].unique()) - set(u_net2023['iso_o'].unique()))

{'ERI'}

So Eritrea is present in 2022, 2015, but not in 2023

In [19]:
common = set(u_net2000['iso_o'].unique()) & set(u_net2001['iso_o'].unique()) & set(u_net2002['iso_o'].unique())\
& set(u_net2003['iso_o'].unique()) & set(u_net2004['iso_o'].unique()) & set(u_net2005['iso_o'].unique())\
& set(u_net2006['iso_o'].unique()) & set(u_net2007['iso_o'].unique()) & set(u_net2008['iso_o'].unique())\
& set(u_net2009['iso_o'].unique()) & set(u_net2010['iso_o'].unique()) & set(u_net2011['iso_o'].unique())\
& set(u_net2012['iso_o'].unique()) & set(u_net2013['iso_o'].unique()) & set(u_net2014['iso_o'].unique())\
& set(u_net2015['iso_o'].unique()) & set(u_net2016['iso_o'].unique()) & set(u_net2017['iso_o'].unique())\
& set(u_net2018['iso_o'].unique()) & set(u_net2019['iso_o'].unique()) & set(u_net2020['iso_o'].unique())\
& set(u_net2021['iso_o'].unique()) & set(u_net2022['iso_o'].unique()) & set(u_net2023['iso_o'].unique())

In [21]:
common = list(common)

In [23]:
len(common)

187

In [25]:
r_net = {f"r_net{year}" : pd.read_csv(f"../data/cleaned/network_metrics_reproducible{year}.csv") for year in range(2000, 2024)}

In [27]:
for year, dataframe in r_net.items():
    globals()[year] = dataframe

In [29]:
common_r = set(r_net2000['iso_o'].unique()) & set(r_net2001['iso_o'].unique()) & set(r_net2002['iso_o'].unique())\
& set(r_net2003['iso_o'].unique()) & set(r_net2004['iso_o'].unique()) & set(r_net2005['iso_o'].unique())\
& set(r_net2006['iso_o'].unique()) & set(r_net2007['iso_o'].unique()) & set(r_net2008['iso_o'].unique())\
& set(r_net2009['iso_o'].unique()) & set(r_net2010['iso_o'].unique()) & set(r_net2011['iso_o'].unique())\
& set(r_net2012['iso_o'].unique()) & set(r_net2013['iso_o'].unique()) & set(r_net2014['iso_o'].unique())\
& set(r_net2015['iso_o'].unique()) & set(r_net2016['iso_o'].unique()) & set(r_net2017['iso_o'].unique())\
& set(r_net2018['iso_o'].unique()) & set(r_net2019['iso_o'].unique()) & set(r_net2020['iso_o'].unique())\
& set(r_net2021['iso_o'].unique()) & set(r_net2022['iso_o'].unique()) & set(r_net2023['iso_o'].unique())

In [31]:
common_r = list(common_r)

In [33]:
t_net = {f"t_net{year}" : pd.read_csv(f"../data/cleaned/network_metrics_total{year}.csv") for year in range(2000, 2024)}

In [34]:
for year, dataframe in t_net.items():
    globals()[year] = dataframe

In [36]:
common_t = set(t_net2000['iso_o'].unique()) & set(t_net2001['iso_o'].unique()) & set(t_net2002['iso_o'].unique())\
& set(t_net2003['iso_o'].unique()) & set(t_net2004['iso_o'].unique()) & set(t_net2005['iso_o'].unique())\
& set(t_net2006['iso_o'].unique()) & set(t_net2007['iso_o'].unique()) & set(t_net2008['iso_o'].unique())\
& set(t_net2009['iso_o'].unique()) & set(t_net2010['iso_o'].unique()) & set(t_net2011['iso_o'].unique())\
& set(t_net2012['iso_o'].unique()) & set(t_net2013['iso_o'].unique()) & set(t_net2014['iso_o'].unique())\
& set(t_net2015['iso_o'].unique()) & set(t_net2016['iso_o'].unique()) & set(t_net2017['iso_o'].unique())\
& set(t_net2018['iso_o'].unique()) & set(t_net2019['iso_o'].unique()) & set(t_net2020['iso_o'].unique())\
& set(t_net2021['iso_o'].unique()) & set(t_net2022['iso_o'].unique()) & set(t_net2023['iso_o'].unique())

In [37]:
type(common_t)

set

In [38]:
common_t = list(common_t)

In [39]:
c = list(set(common_r) - set(common)) # SO Nauru and Eritrea are present in reproducible but not in unique cultural goods trade

In [40]:
c

['NRU', 'ERI']

In [41]:
d = list(set(common_t) - set(common)) #

In [42]:
d # SO Nauru and Eritrea are present in total trade but not in unique cultural goods trade

['NRU', 'ERI']

In [44]:
print(len(common_t))
print(len(common_r))
print(len(common))

189
189
187

In [60]:
attribute = {f"at{year}" : pd.read_csv(f"../data/cleaned/attribute{year}.csv") for year in range(2000, 2024)}

In [65]:
com_attribute = set(attribute['at2000']['iso_o'].unique())

In [67]:
len(com_attribute)

190

In [70]:
e = list(set(com_attribute) - set(common))

In [75]:
e

['NRU', 'SDN', 'ERI']

### Removing ['NRU', 'ERI', 'SDN'] from  network metrices

In [73]:
for year, dataframe in attribute.items():
    dataframe = dataframe[~dataframe['iso_o'].isin(e)]
    globals()[year] = dataframe

In [82]:
assert set(at2000['iso_o'].unique()) == set(at2001['iso_o'].unique()) == set(at2003['iso_o'].unique())\
== set(at2004['iso_o'].unique()) == set(at2005['iso_o'].unique()) == set(at2006['iso_o'].unique()) == set(at2007['iso_o'].unique())\
== set(at2008['iso_o'].unique()) == set(at2009['iso_o'].unique()) == set(at2010['iso_o'].unique()) == set(at2011['iso_o'].unique())\
== set(at2012['iso_o'].unique()) == set(at2013['iso_o'].unique()) == set(at2014['iso_o'].unique()) == set(at2015['iso_o'].unique())\
== set(at2016['iso_o'].unique()) == set(at2017['iso_o'].unique()) == set(at2018['iso_o'].unique()) == set(at2019['iso_o'].unique())\
== set(at2020['iso_o'].unique()) == set(at2021['iso_o'].unique()) == set(at2022['iso_o'].unique()) == set(at2023['iso_o'].unique())

In [83]:
for year, dataframe in r_net.items():
    dataframe = dataframe[~dataframe['iso_o'].isin(e)]
    globals()[year] = dataframe

In [85]:
r_net2013.shape

(187, 12)

In [86]:
assert set(r_net2000['iso_o'].unique()) == set(r_net2001['iso_o'].unique()) == set(r_net2003['iso_o'].unique())\
== set(r_net2004['iso_o'].unique()) == set(r_net2005['iso_o'].unique()) == set(r_net2006['iso_o'].unique()) == set(r_net2007['iso_o'].unique())\
== set(r_net2008['iso_o'].unique()) == set(r_net2009['iso_o'].unique()) == set(r_net2010['iso_o'].unique()) == set(r_net2011['iso_o'].unique())\
== set(r_net2012['iso_o'].unique()) == set(r_net2013['iso_o'].unique()) == set(r_net2014['iso_o'].unique()) == set(r_net2015['iso_o'].unique())\
== set(r_net2016['iso_o'].unique()) == set(r_net2017['iso_o'].unique()) == set(r_net2018['iso_o'].unique()) == set(r_net2019['iso_o'].unique())\
== set(r_net2020['iso_o'].unique()) == set(r_net2021['iso_o'].unique()) == set(r_net2022['iso_o'].unique()) == set(r_net2023['iso_o'].unique())

### Removing ['NRU', 'ERI', 'SDN'] from total network metrices

In [87]:
for year, dataframe in t_net.items():
    dataframe = dataframe[~dataframe['iso_o'].isin(e)]
    globals()[year] = dataframe

In [89]:
t_net2023.shape

(187, 12)

In [91]:
assert set(t_net2000['iso_o'].unique()) == set(t_net2001['iso_o'].unique()) == set(t_net2003['iso_o'].unique())\
== set(t_net2004['iso_o'].unique()) == set(t_net2005['iso_o'].unique()) == set(t_net2006['iso_o'].unique()) == set(t_net2007['iso_o'].unique())\
== set(t_net2008['iso_o'].unique()) == set(t_net2009['iso_o'].unique()) == set(t_net2010['iso_o'].unique()) == set(t_net2011['iso_o'].unique())\
== set(t_net2012['iso_o'].unique()) == set(t_net2013['iso_o'].unique()) == set(t_net2014['iso_o'].unique()) == set(t_net2015['iso_o'].unique())\
== set(t_net2016['iso_o'].unique()) == set(t_net2017['iso_o'].unique()) == set(t_net2018['iso_o'].unique()) == set(t_net2019['iso_o'].unique())\
== set(t_net2020['iso_o'].unique()) == set(t_net2021['iso_o'].unique()) == set(t_net2022['iso_o'].unique()) == set(t_net2023['iso_o'].unique())

In [92]:
t_net2000['iso_o'].nunique()

187

### Removing ['NRU', 'ERI', 'SDN'] from edgelists, complete attribute file (Time series) and from compelete panel data

In [93]:
total = pd.read_csv("../data/cleaned/total_edgelist.csv")
unique = pd.read_csv("../data/cleaned/unique_edgelist.csv")
repro = pd.read_csv("../data/cleaned/reproducible_edgelist.csv")
hyst_total = pd.read_csv("../data/cleaned/edgelist_total_hyst.csv")
hyst_unique = pd.read_csv("../data/cleaned/edgelist_unique_hyst.csv")
hyst_repro = pd.read_csv("../data/cleaned/edgelist_repro_hyst.csv")
distance = pd.read_csv("../data/cleaned/distance_edgelist.csv")
comcol = pd.read_csv("../data/cleaned/comcol_edgelist.csv")
colonizer = pd.read_csv("../data/cleaned/colonizer_edgelist.csv")
language = pd.read_csv("../data/cleaned/language_edgelist.csv")
contiguity = pd.read_csv("../data/cleaned/contiguity_edgelist.csv")
attribute2000_2023 = pd.read_csv("../data/cleaned/attributes2000_2023.csv")
rta = pd.read_csv("../data/cleaned/rta_edgelist.csv")
panel = pd.read_csv("../data/cleaned/panel_complete.csv")

In [94]:
total = total[~total['iso_o'].isin(e)]
total = total[~total['iso_d'].isin(e)]

In [95]:
unique = unique[~unique['iso_o'].isin(e)]
unique = unique[~unique['iso_d'].isin(e)]

In [96]:
repro = repro[~repro['iso_o'].isin(e)]
repro = repro[~repro['iso_d'].isin(e)]

In [97]:
hyst_total = hyst_total[~hyst_total['iso_o'].isin(e)]
hyst_total = hyst_total[~hyst_total['iso_d'].isin(e)]

In [98]:
hyst_unique = hyst_unique[~hyst_unique['iso_o'].isin(e)]
hyst_unique = hyst_unique[~hyst_unique['iso_d'].isin(e)]

In [99]:
hyst_repro = hyst_repro[~hyst_repro['iso_o'].isin(e)]
hyst_repro = hyst_repro[~hyst_repro['iso_d'].isin(e)]

In [100]:
distance = distance[~distance['iso_o'].isin(e)]
distance = distance[~distance['iso_d'].isin(e)]

In [101]:
comcol = comcol[~comcol['iso_o'].isin(e)]
comcol = comcol[~comcol['iso_d'].isin(e)]

In [102]:
e

['NRU', 'SDN', 'ERI']

In [103]:
colonizer = colonizer[~colonizer['iso_o'].isin(e)]
colonizer = colonizer[~colonizer['iso_d'].isin(e)]

In [104]:
language = language[~language['iso_o'].isin(e)]
language = language[~language['iso_d'].isin(e)]

In [105]:
contiguity = contiguity[~contiguity['iso_o'].isin(e)]
contiguity = contiguity[~contiguity['iso_d'].isin(e)]

In [106]:
rta = rta[~rta['iso_o'].isin(e)]
rta = rta[~rta['iso_d'].isin(e)]

In [107]:
panel = panel[~panel['iso_o'].isin(e)]
panel = panel[~panel['iso_d'].isin(e)]

In [108]:
attribute2000_2023 = attribute2000_2023[~attribute2000_2023['iso_o'].isin(e)]

In [109]:
at2000[at2000['iso_o'] == 'ABW']

,Time,Time Code,Country,iso_o,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,...,lon,langoff_1,colonizer1,category,development,TIME_PERIOD,log_gdp_pct,log_population,D_log_gdp_pct,D_log_gdp
8,2000,YR2000,Aruba,ABW,1.873453e+09,20681.02,90588.0,145.07,21.351049,4.977216,...,-70.099998,Dutch,NLD,Emerging and Developing Economies,0.0,2000,9.936972,11.414077,0.073462,0.083773

In [54]:
#panel[panel['iso_o'] == 'ABW']

In [55]:
#panel[(panel['iso_o'] == 'ABW') & (panel['iso_d'] == 'AFG')] #it has 24 rows for every year. SO it is sane.

In [110]:
t_net2007.head(2)

,Unnamed: 0,iso_o,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
0,1,ABW,1,0.001930,1,43612.463087,1,789.095554,1,582.15133,0.989585,0.986248
1,2,AFG,2,0.002328,2,8493.915532,2,126.238219,2,736.46201,0.939081,0.966207

In [112]:
at2000.columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp'],
      dtype='object')

In [118]:
years = range(2000, 2024)
merged = {}
for year in years:
    merged[year] = globals()[f"at{year}"].merge(globals()[f"u_net{year}"], on = "iso_o", how = "left").merge(globals()[f"r_net{year}"], on = "iso_o", how = "left").merge(globals()[f"t_net{year}"], on = "iso_o", how = "left")

In [122]:
merged[2023].columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [123]:
for year, dataframe in merged.items():
    globals()[f"at{year}_total"] = dataframe

In [125]:
at2023_total.columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [126]:
for year in range(2000, 2024):
    globals()[f"at{year}_total"].to_csv(f"../data/cleaned/attribute{year}.csv", encoding = "utf-8", index = False)

In [128]:
time_varying = pd.concat([at2000_total, at2001_total, at2002_total, at2003_total, at2004_total, at2005_total, at2006_total, at2007_total, at2008_total, at2009_total, at2010_total, at2011_total, at2012_total, at2013_total, at2014_total, at2015_total, at2016_total, at2017_total, at2018_total, at2019_total, at2020_total, at2021_total, at2022_total, at2023_total], axis = 0)

In [129]:
time_varying = time_varying.drop(columns = ['Unnamed: 0'])

In [130]:
print(time_varying['iso_o'].nunique())
print(time_varying['Time'].nunique())
print(time_varying['Time'].unique())

187
24
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [134]:
time_varying.columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'pageRank_unique.wpr',
       'close_unique.closeness', 'outdegree_unique.degree',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'pageRank_repro.wpr', 'close_repro.closeness',
       'outdegree_repro.degree', 'indegree_repro.degree',
       'local_clust_tt_repro', 'local_clust_out_repro', 'pageRank_total.wpr',
       'close_total.closeness', 'outdegree_total.degree',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [133]:
time_varying = time_varying.drop(columns =['pageRank_unique.name', 'Unnamed: 0_x', 'close_unique.name','outdegree_unique.name','indegree_unique.name', 'Unnamed: 0_y', 'pageRank_repro.name', 'close_repro.name', 'outdegree_repro.name', 'indegree_repro.name', 'pageRank_total.name','close_total.name','outdegree_total.name','indegree_total.name'])

In [137]:
time_varying.to_csv("../data/cleaned/attribute_centrality_long.csv", encoding = 'utf-8', index = False)

In [135]:
187*187

34969

In [73]:
34969 - 187

34782

In [74]:
34782*24

834768

In [138]:
panel.shape

(834768, 53)

In [139]:
attribute2000_2023.shape

(4675, 14)

In [140]:
print(colonizer['iso_o'].nunique())
print(colonizer['iso_d'].nunique())

187
187

In [141]:
print(total['iso_o'].nunique())
print(total['iso_d'].nunique())

print(unique['iso_o'].nunique())
print(unique['iso_d'].nunique())

print(repro['iso_o'].nunique())
print(repro['iso_d'].nunique())

print(hyst_total['iso_o'].nunique())
print(hyst_total['iso_d'].nunique())

print(hyst_unique['iso_o'].nunique())
print(hyst_unique['iso_d'].nunique())

print(hyst_repro['iso_o'].nunique())
print(hyst_repro['iso_d'].nunique())

print(distance['iso_o'].nunique())
print(distance['iso_d'].nunique())

print(comcol['iso_o'].nunique())
print(comcol['iso_d'].nunique())

print(language['iso_o'].nunique())
print(language['iso_d'].nunique())

print(contiguity['iso_o'].nunique())
print(contiguity['iso_d'].nunique())

print(rta['iso_o'].nunique())
print(rta['iso_d'].nunique())

print(attribute2000_2023['iso_o'].nunique())

print(panel['iso_o'].nunique())
print(panel['iso_d'].nunique())

187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187

In [142]:
print(distance['iso_o'].nunique())
print(distance['iso_d'].nunique())

187
187

In [143]:
assert total['iso_o'].nunique() == total['iso_d'].nunique()

In [144]:
assert set(total['iso_o'].unique()) == set(total['iso_d'].unique())

In [145]:
assert repro['iso_o'].nunique() == repro['iso_d'].nunique()

In [146]:
assert set(repro['iso_o'].unique()) == set(repro['iso_d'].unique())

In [147]:
assert unique['iso_o'].nunique() == unique['iso_d'].nunique()

In [148]:
assert set(unique['iso_o'].unique()) == set(unique['iso_d'].unique())

In [149]:
assert distance['iso_o'].nunique() == distance['iso_d'].nunique()

In [150]:
assert set(distance['iso_o'].unique()) == set(distance['iso_d'].unique())

In [151]:
assert language['iso_o'].nunique() == language['iso_d'].nunique()

In [152]:
assert set(language['iso_o'].unique()) == set(language['iso_d'].unique())

In [153]:
assert comcol['iso_o'].nunique() == comcol['iso_d'].nunique()

In [154]:
assert set(comcol['iso_o'].unique()) == set(comcol['iso_d'].unique())

In [155]:
assert contiguity['iso_o'].nunique() == contiguity['iso_d'].nunique()

In [156]:
assert set(contiguity['iso_o'].unique()) == set(contiguity['iso_d'].unique())

In [157]:
assert panel['iso_o'].nunique() == panel['iso_d'].nunique()

In [158]:
assert set(panel['iso_o'].unique()) == set(panel['iso_d'].unique())

In [159]:
unique = unique.reset_index(drop = True)

### Adding network matrices to attribute2000_2023 data

In [160]:
assert panel.groupby(['iso_o', 'iso_d']).ngroups == panel["dyad_id"].nunique()

In [161]:
distance['log_dist'].mean()

8.785997186675242

In [162]:
print(comcol['comcol'].value_counts())
print((comcol['comcol'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

comcol
0    31118
1     3664
Name: count, dtype: int64
comcol
0    89.47%
1    10.53%
Name: proportion, dtype: object

In [163]:
print(colonizer['colony'].value_counts())
print((colonizer['colony'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

colony
0    34404
1      378
Name: count, dtype: int64
colony
0    98.91%
1     1.09%
Name: proportion, dtype: object

In [164]:
print(language['comlang_off'].value_counts())
print((language['comlang_off'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

comlang_off
0    29440
1     5342
Name: count, dtype: int64
comlang_off
0    84.64%
1    15.36%
Name: proportion, dtype: object

In [165]:
fixed = pd.read_csv("../data/cleaned/fixed.csv")

In [166]:
difference = set(fixed['iso_o'].unique()) - set(language['iso_o'].unique())
len(difference)

37

In [167]:
difference1 = set(fixed['iso_d'].unique()) - set(language['iso_d'].unique())
len(difference1)

37

In [168]:
fixed = fixed[~fixed['iso_o'].isin(difference)]
fixed = fixed[~fixed['iso_d'].isin(difference1)]

In [169]:
print(fixed['iso_o'].nunique())
print(fixed['iso_d'].nunique())

187
187

In [170]:
fixed.groupby(['iso_o', 'iso_d']).ngroups

34782

In [171]:
fixed['dist'].mean()

8170.805725177392

In [172]:
fixed['dist'].std()

4557.290052151321

In [173]:
fixed['dist'].min()

59.61723

In [174]:
fixed['dist'].max()

19904.45

In [175]:
attribute2000_2023['iso_o'].nunique()

187

In [176]:
panel.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'langoff_1_d',
       'colonizer1_d', 'category_d', 'development_d', 'dyad_id'],
      dtype='object')

In [177]:
unique.to_csv("../data/cleaned/unique_edgelist.csv", encoding = 'utf-8', index = False)
total.to_csv("../data/cleaned/total_edgelist.csv", encoding = 'utf-8', index = False)
unique.to_csv("../data/cleaned/unique_edgelist.csv", encoding = 'utf-8', index = False)
hyst_total.to_csv("../data/cleaned/edgelist_total_hyst.csv", encoding = 'utf-8', index = False)
hyst_unique.to_csv("../data/cleaned/edgelist_unique_hyst.csv", encoding = 'utf-8', index = False)
hyst_repro.to_csv("../data/cleaned/edgelist_repro_hyst.csv", encoding = 'utf-8', index = False)
repro.to_csv("../data/cleaned/reproducible_edgelist.csv", encoding = 'utf-8', index = False)
distance.to_csv("../data/cleaned/distance_edgelist.csv", encoding = 'utf-8', index = False)
comcol.to_csv("../data/cleaned/comcol_edgelist.csv", encoding = 'utf-8', index = False)
colonizer.to_csv("../data/cleaned/colonizer_edgelist.csv", encoding = 'utf-8', index = False)
language.to_csv("../data/cleaned/language_edgelist.csv", encoding = 'utf-8', index = False)
contiguity.to_csv("../data/cleaned/contiguity_edgelist.csv", encoding = 'utf-8', index = False)
rta.to_csv("../data/cleaned/rta_edgelist.csv", encoding = 'utf-8', index = False)
panel.to_csv("../data/cleaned/panel_complete.csv", encoding = 'utf-8', index = False)
attribute2000_2023.to_csv("../data/cleaned/attributes2000_2023.csv", encoding = 'utf-8', index = False)

In [178]:
panel = pd.read_csv("../data/cleaned/panel_complete.csv")

In [179]:
panel.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'langoff_1_d',
       'colonizer1_d', 'category_d', 'development_d', 'dyad_id'],
      dtype='object')

In [180]:
at2021 = pd.read_csv('../data/cleaned/attribute2021.csv')
at2022 = pd.read_csv('../data/cleaned/attribute2022.csv')
at2023 = pd.read_csv('../data/cleaned/attribute2023.csv')

In [181]:
at2023.columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [182]:
at2023['outdegree_repro.degree'].max()

58011.0793752247

In [183]:
at2023[at2023['outdegree_repro.degree'] == 58011.0793752247]

,Time,Time Code,Country,iso_o,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,...,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
37,2023,YR2023,China,CHN,1.827036e+13,12951.18,1.410710e+09,36.11,30.536301,3.58657,...,35,0.062057,35,325578.853769,35,121403.994019,35,98792.240938,0.94007,0.939538

In [184]:
at2023= at2023.sort_values(by = 'outdegree_repro.degree', ascending=False)

In [185]:
at2023.columns

Index(['Time', 'Time Code', 'Country', 'iso_o', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [186]:
at2023[['iso_o', 'development']].head(10)

    iso_o  development
37    CHN          0.0
93    KOR          1.0
65    DEU          1.0
183   VNM          0.0
178   USA          1.0
87    JPN          1.0
107   MYS          0.0
150   SGP          1.0
114   MEX          0.0
76    HKG          1.0

In [187]:
at2023_importer = at2023.sort_values(by = 'indegree_repro.degree', ascending=False)

In [188]:
at2023_importer.head(10)

,Time,Time Code,Country,iso_o,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,...,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
178,2023,YR2023,United States,USA,2.772071e+13,82304.62,3.368062e+08,24.90,30.953201,3.214868,...,180,0.075796,180,294259.352193,180,95694.266088,180,130467.458979,0.957981,0.954751
37,2023,YR2023,China,CHN,1.827036e+13,12951.18,1.410710e+09,36.11,30.536301,3.586570,...,35,0.062057,35,325578.853769,35,121403.994019,35,98792.240938,0.940070,0.939538
76,2023,YR2023,"Hong Kong SAR, China",HKG,3.810664e+11,50565.46,7.536100e+06,352.99,26.666239,5.866440,...,75,0.009986,75,164158.413286,75,10276.614300,75,20832.871548,0.984029,0.973031
65,2023,YR2023,Germany,DEU,4.525704e+12,53940.41,8.390192e+07,82.80,29.140794,4.416428,...,46,0.038253,46,289564.071700,46,82863.388822,46,70900.764482,0.978146,0.978538
114,2023,YR2023,Mexico,MEX,1.793799e+12,13826.13,1.297398e+08,73.77,28.215357,4.300952,...,114,0.014750,114,265796.654406,114,35597.795903,114,33728.276127,0.992158,0.995907
183,2023,YR2023,Viet Nam,VNM,4.338577e+11,4323.35,1.003522e+08,164.82,26.795982,5.104854,...,184,0.007451,184,191219.984855,184,19198.257334,184,18039.935424,0.991303,0.989836
93,2023,YR2023,"Korea, Rep.",KOR,1.712793e+12,33121.37,5.171262e+07,87.94,28.169146,4.476655,...,97,0.015761,97,217770.595607,97,33218.811980,97,35696.016797,0.956575,0.954003
87,2023,YR2023,Japan,JPN,4.213167e+12,33836.18,1.245166e+08,45.15,29.069236,3.809990,...,90,0.019914,90,237930.401855,90,40577.227133,90,42113.160415,0.971412,0.971686
123,2023,YR2023,Netherlands,NLD,1.154361e+12,64572.01,1.787712e+07,165.91,27.774568,5.111445,...,131,0.021114,131,223553.568390,131,40938.311093,131,41206.537078,0.973235,0.974871
150,2023,YR2023,Singapore,SGP,5.054395e+11,85412.23,5.917648e+06,325.69,26.948694,5.785946,...,154,0.010852,154,166337.373179,154,21406.586018,154,23568.292508,0.956931,0.938964

In [189]:
panel[(panel['TIME_PERIOD'] == 2023) & (panel['iso_o'] == 'KOR')].sort_values(by = 'reproducible_cultural_tr', ascending=False).head(10)

,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,rta,...,D_log_gdp_pct_d,D_log_gdp_d,country_d,landlocked_d,continent_d,langoff_1_d,colonizer1_d,category_d,development_d,dyad_id
424919,KOR,CHN,2023,70064.254622,16.457004,75628.121864,123415.884334,14.314469,138235.885499,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,KOR-CHN
428399,KOR,VNM,2023,21429.004376,0.577156,32587.504516,33372.506342,0.408330,50164.038694,1.0,...,0.041477,0.048191,Vietnam,0,Asia,Vietnamese,FRA,Emerging and Developing Economies,0.0,KOR-VNM
428303,KOR,USA,2023,94159.623302,159.569661,18065.498833,117640.661063,136.415912,28731.947150,1.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,KOR-USA
427679,KOR,SGP,2023,11116.098135,8.415881,9746.117231,16662.964903,12.579952,15211.341039,1.0,...,-0.055637,-0.007055,Singapore,0,Asia,English,GBR,Advanced Economies,1.0,KOR-SGP
425855,KOR,HKG,2023,6565.829976,124.277564,5887.524906,10973.743233,368.116000,10411.826220,0.0,...,0.035009,0.060543,Hong Kong SAR,0,Asia,English,GBR,Advanced Economies,1.0,KOR-HKG
426767,KOR,MEX,2023,12889.626699,0.564716,4321.473451,19935.649399,0.072317,6154.214126,1.0,...,0.192759,0.201481,Mexico,0,America,Spanish,ESP,Emerging and Developing Economies,0.0,KOR-MEX
426215,KOR,JPN,2023,24968.369569,9.043504,4301.393319,37687.587485,5.845537,6766.518191,0.0,...,-0.006759,-0.011633,Japan,0,Asia,Japanese,0,Advanced Economies,1.0,KOR-JPN
425999,KOR,IND,2023,13749.178185,3.147056,4275.016282,20181.160890,0.452522,5513.286065,1.0,...,0.074937,0.083771,India,0,Asia,English,GBR,Emerging and Developing Economies,0.0,KOR-IND
427367,KOR,PHL,2023,6112.493462,0.035436,3145.085438,9963.378600,0.311467,7360.289169,1.0,...,0.069671,0.077770,Philippines,0,Asia,English,ESP,Emerging and Developing Economies,0.0,KOR-PHL
427031,KOR,MYS,2023,7625.111491,0.191603,3079.794823,12087.373804,0.234380,4485.557204,1.0,...,-0.031913,-0.019573,Malaysia,0,Asia,Malay,GBR,Emerging and Developing Economies,0.0,KOR-MYS

In [190]:
panel[panel['TIME_PERIOD'] == 2023].sort_values(by = 'reproducible_cultural_tr', ascending=False).head(10)

,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,rta,...,D_log_gdp_pct_d,D_log_gdp_d,country_d,landlocked_d,continent_d,langoff_1_d,colonizer1_d,category_d,development_d,dyad_id
155999,CHN,USA,2023,313810.786483,120.129523,118941.875070,554820.732801,181.276259,189573.802629,0.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,CHN-USA
153527,CHN,HKG,2023,94491.442141,455.448907,108233.383981,138393.481355,851.532624,136310.394605,1.0,...,0.035009,0.060543,Hong Kong SAR,0,Asia,English,GBR,Advanced Economies,1.0,CHN-HKG
504191,MEX,USA,2023,380990.349258,71.562806,86708.751818,493794.911915,127.988481,109909.883394,1.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,MEX-USA
424919,KOR,CHN,2023,70064.254622,16.457004,75628.121864,123415.884334,14.314469,138235.885499,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,KOR-CHN
152855,CHN,DEU,2023,82501.668398,40.473663,52945.382837,148708.820052,73.538706,66920.964296,0.0,...,0.082154,0.083395,Germany,0,Europe,German,0,Advanced Economies,1.0,CHN-DEU
804359,VNM,CHN,2023,27989.767749,0.189273,48454.850081,39743.575569,0.178835,66962.658746,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,VNM-CHN
154055,CHN,KOR,2023,96833.952719,15.006466,48210.496367,140913.483644,35.784949,72972.334203,1.0,...,0.022184,0.022959,Korea,0,Asia,Korean,JPN,Advanced Economies,1.0,CHN-KOR
156095,CHN,VNM,2023,80372.347506,1.527002,46957.687209,118576.414871,0.316364,69701.734144,1.0,...,0.041477,0.048191,Vietnam,0,Asia,Vietnamese,FRA,Emerging and Developing Economies,0.0,CHN-VNM
153887,CHN,JPN,2023,114202.998056,14.180574,45620.885245,182228.460384,25.845980,66693.695729,0.0,...,-0.006759,-0.011633,Japan,0,Asia,Japanese,0,Advanced Economies,1.0,CHN-JPN
153671,CHN,IND,2023,78176.712556,0.659437,40967.983231,103436.462295,2.782618,42193.840178,1.0,...,0.074937,0.083771,India,0,Asia,English,GBR,Emerging and Developing Economies,0.0,CHN-IND

In [191]:
at2021 = pd.read_csv('../data/cleaned/attribute2021.csv')

In [192]:
a = list(at2021['Country'])

In [193]:
b = ', '.join(a)

In [194]:
b

"Afghanistan, Albania, Algeria, Andorra, Angola, Antigua and Barbuda, Argentina, Armenia, Aruba, Australia, Austria, Azerbaijan, Bahamas, The, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bermuda, Bhutan, Bolivia, Bosnia and Herzegovina, Botswana, Brazil, Brunei Darussalam, Bulgaria, Burkina Faso, Burundi, Cabo Verde, Cambodia, Cameroon, Canada, Central African Republic, Chad, Chile, China, Colombia, Comoros, Congo, Rep., Costa Rica, Cote d'Ivoire, Croatia, Cuba, Cyprus, Czechia, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, Egypt, Arab Rep., El Salvador, Equatorial Guinea, Estonia, Eswatini, Ethiopia, Fiji, Finland, France, French Polynesia, Gabon, Gambia, The, Georgia, Germany, Ghana, Greece, Greenland, Grenada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Honduras, Hong Kong SAR, China, Hungary, Iceland, India, Indonesia, Iran, Islamic Rep., Iraq, Ireland, Israel, Italy, Jamaica, Japan, Jordan, Kazakhstan, Kenya, Kiribati, Korea, Dem. People's Rep., Korea, Rep., Kuwait, Kyrgyz Republic, Lao PDR, Latvia, Lebanon, Lesotho, Liberia, Libya, Lithuania, Luxembourg, Macao SAR, China, Madagascar, Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Mauritania, Mauritius, Mexico, Micronesia, Fed. Sts., Moldova, Mongolia, Morocco, Mozambique, Myanmar, Namibia, Nepal, Netherlands, New Caledonia, New Zealand, Nicaragua, Niger, Nigeria, North Macedonia, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal, Qatar, Russian Federation, Rwanda, Samoa, Sao Tome and Principe, Saudi Arabia, Senegal, Seychelles, Sierra Leone, Singapore, Slovak Republic, Slovenia, Solomon Islands, South Africa, Spain, Sri Lanka, St. Kitts and Nevis, St. Lucia, St. Vincent and the Grenadines, Suriname, Sweden, Switzerland, Syrian Arab Republic, Tajikistan, Tanzania, Thailand, Togo, Tonga, Trinidad and Tobago, Tunisia, Turkiye, Turkmenistan, Tuvalu, Uganda, Ukraine, United Arab Emirates, United Kingdom, United States, Uruguay, Uzbekistan, Vanuatu, Venezuela, RB, Viet Nam, Yemen, Rep., Zambia, Zimbabwe"