In [1]:
import pandas as pd

One or two countries have got cleared out in the process of removing duplicates while measuring centralities in R. Some network centrality measure files in the cleaned folder have 189 countries, while some have 190, where all the attributeYEAR.csv files have 190 countries. STERGM requires a list of network objects having the same number of nodes. Hence I will make sure it is the same set of nodes in all attributesYEAR.csv files and in all edgelists. 

**STEPS:**
>1. Making sure all the network metrics files have same set of nodes. I will find out the countries that are not ubiquitous over 2000 to 2023, and remove it from the network metrics files containing that country.
>2. Doing it forr all three sets of network metrics files (unique, reproducible, total) just to make sure all three has same set of countries
>3. Removing those countries from attributeYEAR.csv files
>4. Removing those countries from complete panel data
>5. Removing those countries from all edgelists as well

In [2]:
u_net2000 = pd.read_csv('../data/cleaned/network_metrics_unique2000.csv')
u_net2001 = pd.read_csv('../data/cleaned/network_metrics_unique2001.csv')
u_net2002 = pd.read_csv('../data/cleaned/network_metrics_unique2002.csv')
u_net2003 = pd.read_csv('../data/cleaned/network_metrics_unique2003.csv')
u_net2004 = pd.read_csv('../data/cleaned/network_metrics_unique2004.csv')
u_net2005 = pd.read_csv('../data/cleaned/network_metrics_unique2005.csv')
u_net2006 = pd.read_csv('../data/cleaned/network_metrics_unique2006.csv')
u_net2007 = pd.read_csv('../data/cleaned/network_metrics_unique2007.csv')
u_net2008 = pd.read_csv('../data/cleaned/network_metrics_unique2008.csv')
u_net2009 = pd.read_csv('../data/cleaned/network_metrics_unique2009.csv')
u_net2010 = pd.read_csv('../data/cleaned/network_metrics_unique2010.csv')
u_net2011 = pd.read_csv('../data/cleaned/network_metrics_unique2011.csv')
u_net2012 = pd.read_csv('../data/cleaned/network_metrics_unique2012.csv')
u_net2013 = pd.read_csv('../data/cleaned/network_metrics_unique2013.csv')
u_net2014 = pd.read_csv('../data/cleaned/network_metrics_unique2014.csv')
u_net2015 = pd.read_csv('../data/cleaned/network_metrics_unique2015.csv')
u_net2016 = pd.read_csv('../data/cleaned/network_metrics_unique2016.csv')
u_net2017 = pd.read_csv('../data/cleaned/network_metrics_unique2017.csv')
u_net2018 = pd.read_csv('../data/cleaned/network_metrics_unique2018.csv')
u_net2019 = pd.read_csv('../data/cleaned/network_metrics_unique2019.csv')
u_net2020 = pd.read_csv('../data/cleaned/network_metrics_unique2020.csv')
u_net2021 = pd.read_csv('../data/cleaned/network_metrics_unique2021.csv')
u_net2022 = pd.read_csv('../data/cleaned/network_metrics_unique2022.csv')
u_net2023 = pd.read_csv('../data/cleaned/network_metrics_unique2023.csv')

In [3]:
print(u_net2000['iso_o'].nunique())
print(u_net2001['iso_o'].nunique())
print(u_net2002['iso_o'].nunique())
print(u_net2003['iso_o'].nunique())
print(u_net2004['iso_o'].nunique())
print(u_net2005['iso_o'].nunique())
print(u_net2006['iso_o'].nunique())
print(u_net2007['iso_o'].nunique())

189
189
189
189
189
189
189
189

In [4]:
print(u_net2008['iso_o'].nunique())
print(u_net2009['iso_o'].nunique())
print(u_net2010['iso_o'].nunique())
print(u_net2011['iso_o'].nunique())
print(u_net2012['iso_o'].nunique())
print(u_net2013['iso_o'].nunique())
print(u_net2014['iso_o'].nunique())
print(u_net2015['iso_o'].nunique())

189
189
189
189
189
189
189
190

In [5]:
print(u_net2016['iso_o'].nunique())
print(u_net2017['iso_o'].nunique())
print(u_net2018['iso_o'].nunique())
print(u_net2019['iso_o'].nunique())
print(u_net2020['iso_o'].nunique())
print(u_net2021['iso_o'].nunique())
print(u_net2022['iso_o'].nunique())
print(u_net2023['iso_o'].nunique())

190
190
190
190
190
190
190
189

In [6]:
print(set(u_net2022['iso_o'].unique()) - set(u_net2023['iso_o'].unique()))
print(set(u_net2022['iso_o'].unique()) - set(u_net2021['iso_o'].unique()))
print(set(u_net2015['iso_o'].unique()) - set(u_net2014['iso_o'].unique()))

{'ERI'}
set()
{'NRU'}

In [7]:
print(set(u_net2015['iso_o'].unique()) - set(u_net2023['iso_o'].unique()))

{'ERI'}

So Eritrea is present in 2022, 2015, but not in 2023

In [8]:
common = set(u_net2000['iso_o'].unique()) & set(u_net2001['iso_o'].unique()) & set(u_net2002['iso_o'].unique())\
& set(u_net2003['iso_o'].unique()) & set(u_net2004['iso_o'].unique()) & set(u_net2005['iso_o'].unique())\
& set(u_net2006['iso_o'].unique()) & set(u_net2007['iso_o'].unique()) & set(u_net2008['iso_o'].unique())\
& set(u_net2009['iso_o'].unique()) & set(u_net2010['iso_o'].unique()) & set(u_net2011['iso_o'].unique())\
& set(u_net2012['iso_o'].unique()) & set(u_net2013['iso_o'].unique()) & set(u_net2014['iso_o'].unique())\
& set(u_net2015['iso_o'].unique()) & set(u_net2016['iso_o'].unique()) & set(u_net2017['iso_o'].unique())\
& set(u_net2018['iso_o'].unique()) & set(u_net2019['iso_o'].unique()) & set(u_net2020['iso_o'].unique())\
& set(u_net2021['iso_o'].unique()) & set(u_net2022['iso_o'].unique()) & set(u_net2023['iso_o'].unique())

In [9]:
common = list(common)

In [10]:
r_net2000 = pd.read_csv('../data/cleaned/network_metrics_reproducible2000.csv')
r_net2001 = pd.read_csv('../data/cleaned/network_metrics_reproducible2001.csv')
r_net2002 = pd.read_csv('../data/cleaned/network_metrics_reproducible2002.csv')
r_net2003 = pd.read_csv('../data/cleaned/network_metrics_reproducible2003.csv')
r_net2004 = pd.read_csv('../data/cleaned/network_metrics_reproducible2004.csv')
r_net2005 = pd.read_csv('../data/cleaned/network_metrics_reproducible2005.csv')
r_net2006 = pd.read_csv('../data/cleaned/network_metrics_reproducible2006.csv')
r_net2007 = pd.read_csv('../data/cleaned/network_metrics_reproducible2007.csv')
r_net2008 = pd.read_csv('../data/cleaned/network_metrics_reproducible2008.csv')
r_net2009 = pd.read_csv('../data/cleaned/network_metrics_reproducible2009.csv')
r_net2010 = pd.read_csv('../data/cleaned/network_metrics_reproducible2010.csv')
r_net2011 = pd.read_csv('../data/cleaned/network_metrics_reproducible2011.csv')
r_net2012 = pd.read_csv('../data/cleaned/network_metrics_reproducible2012.csv')
r_net2013 = pd.read_csv('../data/cleaned/network_metrics_reproducible2013.csv')
r_net2014 = pd.read_csv('../data/cleaned/network_metrics_reproducible2014.csv')
r_net2015 = pd.read_csv('../data/cleaned/network_metrics_reproducible2015.csv')
r_net2016 = pd.read_csv('../data/cleaned/network_metrics_reproducible2016.csv')
r_net2017 = pd.read_csv('../data/cleaned/network_metrics_reproducible2017.csv')
r_net2018 = pd.read_csv('../data/cleaned/network_metrics_reproducible2018.csv')
r_net2019 = pd.read_csv('../data/cleaned/network_metrics_reproducible2019.csv')
r_net2020 = pd.read_csv('../data/cleaned/network_metrics_reproducible2020.csv')
r_net2021 = pd.read_csv('../data/cleaned/network_metrics_reproducible2021.csv')
r_net2022 = pd.read_csv('../data/cleaned/network_metrics_reproducible2022.csv')
r_net2023 = pd.read_csv('../data/cleaned/network_metrics_reproducible2023.csv')

In [11]:
common_r = set(r_net2000['iso_o'].unique()) & set(r_net2001['iso_o'].unique()) & set(r_net2002['iso_o'].unique())\
& set(r_net2003['iso_o'].unique()) & set(r_net2004['iso_o'].unique()) & set(r_net2005['iso_o'].unique())\
& set(r_net2006['iso_o'].unique()) & set(r_net2007['iso_o'].unique()) & set(r_net2008['iso_o'].unique())\
& set(r_net2009['iso_o'].unique()) & set(r_net2010['iso_o'].unique()) & set(r_net2011['iso_o'].unique())\
& set(r_net2012['iso_o'].unique()) & set(r_net2013['iso_o'].unique()) & set(r_net2014['iso_o'].unique())\
& set(r_net2015['iso_o'].unique()) & set(r_net2016['iso_o'].unique()) & set(r_net2017['iso_o'].unique())\
& set(r_net2018['iso_o'].unique()) & set(r_net2019['iso_o'].unique()) & set(r_net2020['iso_o'].unique())\
& set(r_net2021['iso_o'].unique()) & set(r_net2022['iso_o'].unique()) & set(r_net2023['iso_o'].unique())

In [12]:
common_r = list(common_r)

In [13]:
t_net2000 = pd.read_csv('../data/cleaned/network_metrics_total2000.csv')
t_net2001 = pd.read_csv('../data/cleaned/network_metrics_total2001.csv')
t_net2002 = pd.read_csv('../data/cleaned/network_metrics_total2002.csv')
t_net2003 = pd.read_csv('../data/cleaned/network_metrics_total2003.csv')
t_net2004 = pd.read_csv('../data/cleaned/network_metrics_total2004.csv')
t_net2005 = pd.read_csv('../data/cleaned/network_metrics_total2005.csv')
t_net2006 = pd.read_csv('../data/cleaned/network_metrics_total2006.csv')
t_net2007 = pd.read_csv('../data/cleaned/network_metrics_total2007.csv')
t_net2008 = pd.read_csv('../data/cleaned/network_metrics_total2008.csv')
t_net2009 = pd.read_csv('../data/cleaned/network_metrics_total2009.csv')
t_net2010 = pd.read_csv('../data/cleaned/network_metrics_total2010.csv')
t_net2011 = pd.read_csv('../data/cleaned/network_metrics_total2011.csv')
t_net2012 = pd.read_csv('../data/cleaned/network_metrics_total2012.csv')
t_net2013 = pd.read_csv('../data/cleaned/network_metrics_total2013.csv')
t_net2014 = pd.read_csv('../data/cleaned/network_metrics_total2014.csv')
t_net2015 = pd.read_csv('../data/cleaned/network_metrics_total2015.csv')
t_net2016 = pd.read_csv('../data/cleaned/network_metrics_total2016.csv')
t_net2017 = pd.read_csv('../data/cleaned/network_metrics_total2017.csv')
t_net2018 = pd.read_csv('../data/cleaned/network_metrics_total2018.csv')
t_net2019 = pd.read_csv('../data/cleaned/network_metrics_total2019.csv')
t_net2020 = pd.read_csv('../data/cleaned/network_metrics_total2020.csv')
t_net2021 = pd.read_csv('../data/cleaned/network_metrics_total2021.csv')
t_net2022 = pd.read_csv('../data/cleaned/network_metrics_total2022.csv')
t_net2023 = pd.read_csv('../data/cleaned/network_metrics_total2023.csv')

In [14]:
common_t = set(t_net2000['iso_o'].unique()) & set(t_net2001['iso_o'].unique()) & set(t_net2002['iso_o'].unique())\
& set(t_net2003['iso_o'].unique()) & set(t_net2004['iso_o'].unique()) & set(t_net2005['iso_o'].unique())\
& set(t_net2006['iso_o'].unique()) & set(t_net2007['iso_o'].unique()) & set(t_net2008['iso_o'].unique())\
& set(t_net2009['iso_o'].unique()) & set(t_net2010['iso_o'].unique()) & set(t_net2011['iso_o'].unique())\
& set(t_net2012['iso_o'].unique()) & set(t_net2013['iso_o'].unique()) & set(t_net2014['iso_o'].unique())\
& set(t_net2015['iso_o'].unique()) & set(t_net2016['iso_o'].unique()) & set(t_net2017['iso_o'].unique())\
& set(t_net2018['iso_o'].unique()) & set(t_net2019['iso_o'].unique()) & set(t_net2020['iso_o'].unique())\
& set(t_net2021['iso_o'].unique()) & set(t_net2022['iso_o'].unique()) & set(t_net2023['iso_o'].unique())

In [15]:
type(common_t)

set

In [16]:
common_t = list(common_t)

In [17]:
c = list(set(common_r) - set(common)) # SO Nauru and Eritrea are present in reproducible but not in unique cultural goods trade

In [18]:
c

['NRU', 'ERI']

In [19]:
d = list(set(common_t) - set(common)) #

In [20]:
d # SO Nauru and Eritrea are present in total trade but not in unique cultural goods trade

['NRU', 'ERI']

In [21]:
print(len(common_t))
print(len(common_r))
print(len(common))

189
189
187

In [22]:
at2000 = pd.read_csv('../data/cleaned/attribute2000.csv')
at2001 = pd.read_csv('../data/cleaned/attribute2001.csv')
at2002 = pd.read_csv('../data/cleaned/attribute2002.csv')
at2003 = pd.read_csv('../data/cleaned/attribute2003.csv')
at2004 = pd.read_csv('../data/cleaned/attribute2004.csv')
at2005 = pd.read_csv('../data/cleaned/attribute2005.csv')
at2006 = pd.read_csv('../data/cleaned/attribute2006.csv')
at2007 = pd.read_csv('../data/cleaned/attribute2007.csv')
at2008 = pd.read_csv('../data/cleaned/attribute2008.csv')
at2009 = pd.read_csv('../data/cleaned/attribute2009.csv')
at2010 = pd.read_csv('../data/cleaned/attribute2010.csv')
at2011 = pd.read_csv('../data/cleaned/attribute2011.csv')
at2012 = pd.read_csv('../data/cleaned/attribute2012.csv')
at2013 = pd.read_csv('../data/cleaned/attribute2013.csv')
at2014 = pd.read_csv('../data/cleaned/attribute2014.csv')
at2015 = pd.read_csv('../data/cleaned/attribute2015.csv')
at2016 = pd.read_csv('../data/cleaned/attribute2016.csv')
at2017 = pd.read_csv('../data/cleaned/attribute2017.csv')
at2018 = pd.read_csv('../data/cleaned/attribute2018.csv')
at2019 = pd.read_csv('../data/cleaned/attribute2019.csv')
at2020 = pd.read_csv('../data/cleaned/attribute2020.csv')
at2021 = pd.read_csv('../data/cleaned/attribute2021.csv')
at2022 = pd.read_csv('../data/cleaned/attribute2022.csv')
at2023 = pd.read_csv('../data/cleaned/attribute2023.csv')

In [23]:
com_att = set(at2000['iso_o'].unique()) & set(at2001['iso_o'].unique()) & set(at2002['iso_o'].unique())\
& set(at2003['iso_o'].unique()) & set(at2004['iso_o'].unique()) & set(at2005['iso_o'].unique())\
& set(at2006['iso_o'].unique()) & set(at2007['iso_o'].unique()) & set(at2008['iso_o'].unique())\
& set(at2009['iso_o'].unique()) & set(at2010['iso_o'].unique()) & set(at2011['iso_o'].unique())\
& set(at2012['iso_o'].unique()) & set(at2013['iso_o'].unique()) & set(at2014['iso_o'].unique())\
& set(at2015['iso_o'].unique()) & set(at2016['iso_o'].unique()) & set(at2017['iso_o'].unique())\
& set(at2018['iso_o'].unique()) & set(at2019['iso_o'].unique()) & set(at2020['iso_o'].unique())\
& set(at2021['iso_o'].unique()) & set(at2022['iso_o'].unique()) & set(at2023['iso_o'].unique())

In [24]:
len(com_att)

190

In [25]:
e = list(set(com_att) - set(common))

In [26]:
e

['NRU', 'ERI', 'SDN']

### Removing ['NRU', 'ERI', 'SDN'] from attributes

In [27]:
at2000 = at2000[~at2000['iso_o'].isin(e)]
at2001 = at2001[~at2001['iso_o'].isin(e)]
at2002 = at2002[~at2002['iso_o'].isin(e)]
at2003 = at2003[~at2003['iso_o'].isin(e)]
at2004 = at2004[~at2004['iso_o'].isin(e)]
at2005 = at2005[~at2005['iso_o'].isin(e)]
at2006 = at2006[~at2006['iso_o'].isin(e)]
at2007 = at2007[~at2007['iso_o'].isin(e)]
at2008 = at2008[~at2008['iso_o'].isin(e)]
at2009 = at2009[~at2009['iso_o'].isin(e)]
at2010 = at2010[~at2010['iso_o'].isin(e)]
at2011 = at2011[~at2011['iso_o'].isin(e)]
at2012 = at2012[~at2012['iso_o'].isin(e)]
at2013 = at2013[~at2013['iso_o'].isin(e)]
at2014 = at2014[~at2014['iso_o'].isin(e)]
at2015 = at2015[~at2015['iso_o'].isin(e)]
at2016 = at2016[~at2016['iso_o'].isin(e)]
at2017 = at2017[~at2017['iso_o'].isin(e)]
at2018 = at2018[~at2018['iso_o'].isin(e)]
at2019 = at2019[~at2019['iso_o'].isin(e)]
at2020 = at2020[~at2020['iso_o'].isin(e)]
at2021 = at2021[~at2021['iso_o'].isin(e)]
at2022 = at2022[~at2022['iso_o'].isin(e)]
at2023 = at2023[~at2023['iso_o'].isin(e)]

In [28]:
at2003.shape

(187, 23)

In [29]:
assert set(at2000['iso_o'].unique()) == set(at2001['iso_o'].unique()) == set(at2003['iso_o'].unique())\
== set(at2004['iso_o'].unique()) == set(at2005['iso_o'].unique()) == set(at2006['iso_o'].unique()) == set(at2007['iso_o'].unique())\
== set(at2008['iso_o'].unique()) == set(at2009['iso_o'].unique()) == set(at2010['iso_o'].unique()) == set(at2011['iso_o'].unique())\
== set(at2012['iso_o'].unique()) == set(at2013['iso_o'].unique()) == set(at2014['iso_o'].unique()) == set(at2015['iso_o'].unique())\
== set(at2016['iso_o'].unique()) == set(at2017['iso_o'].unique()) == set(at2018['iso_o'].unique()) == set(at2019['iso_o'].unique())\
== set(at2020['iso_o'].unique()) == set(at2021['iso_o'].unique()) == set(at2022['iso_o'].unique()) == set(at2023['iso_o'].unique())

### Removing ['NRU', 'ERI', 'SDN'] from reproducible network metrices

In [30]:
r_net2000 = r_net2000[~r_net2000['iso_o'].isin(e)]
r_net2001 = r_net2001[~r_net2001['iso_o'].isin(e)]
r_net2002 = r_net2002[~r_net2002['iso_o'].isin(e)]
r_net2003 = r_net2003[~r_net2003['iso_o'].isin(e)]
r_net2004 = r_net2004[~r_net2004['iso_o'].isin(e)]
r_net2005 = r_net2005[~r_net2005['iso_o'].isin(e)]
r_net2006 = r_net2006[~r_net2006['iso_o'].isin(e)]
r_net2007 = r_net2007[~r_net2007['iso_o'].isin(e)]
r_net2008 = r_net2008[~r_net2008['iso_o'].isin(e)]
r_net2009 = r_net2009[~r_net2009['iso_o'].isin(e)]
r_net2010 = r_net2010[~r_net2010['iso_o'].isin(e)]
r_net2011 = r_net2011[~r_net2011['iso_o'].isin(e)]
r_net2012 = r_net2012[~r_net2012['iso_o'].isin(e)]
r_net2013 = r_net2013[~r_net2013['iso_o'].isin(e)]
r_net2014 = r_net2014[~r_net2014['iso_o'].isin(e)]
r_net2015 = r_net2015[~r_net2015['iso_o'].isin(e)]
r_net2016 = r_net2016[~r_net2016['iso_o'].isin(e)]
r_net2017 = r_net2017[~r_net2017['iso_o'].isin(e)]
r_net2018 = r_net2018[~r_net2018['iso_o'].isin(e)]
r_net2019 = r_net2019[~r_net2019['iso_o'].isin(e)]
r_net2020 = r_net2020[~r_net2020['iso_o'].isin(e)]
r_net2021 = r_net2021[~r_net2021['iso_o'].isin(e)]
r_net2022 = r_net2022[~r_net2022['iso_o'].isin(e)]
r_net2023 = r_net2023[~r_net2023['iso_o'].isin(e)]

In [31]:
r_net2013.shape

(187, 12)

In [32]:
assert set(r_net2000['iso_o'].unique()) == set(r_net2001['iso_o'].unique()) == set(r_net2003['iso_o'].unique())\
== set(r_net2004['iso_o'].unique()) == set(r_net2005['iso_o'].unique()) == set(r_net2006['iso_o'].unique()) == set(r_net2007['iso_o'].unique())\
== set(r_net2008['iso_o'].unique()) == set(r_net2009['iso_o'].unique()) == set(r_net2010['iso_o'].unique()) == set(r_net2011['iso_o'].unique())\
== set(r_net2012['iso_o'].unique()) == set(r_net2013['iso_o'].unique()) == set(r_net2014['iso_o'].unique()) == set(r_net2015['iso_o'].unique())\
== set(r_net2016['iso_o'].unique()) == set(r_net2017['iso_o'].unique()) == set(r_net2018['iso_o'].unique()) == set(r_net2019['iso_o'].unique())\
== set(r_net2020['iso_o'].unique()) == set(r_net2021['iso_o'].unique()) == set(r_net2022['iso_o'].unique()) == set(r_net2023['iso_o'].unique())

### Removing ['NRU', 'ERI', 'SDN'] from total network metrices

In [33]:
t_net2000 = t_net2000[~t_net2000['iso_o'].isin(e)]
t_net2001 = t_net2001[~t_net2001['iso_o'].isin(e)]
t_net2002 = t_net2002[~t_net2002['iso_o'].isin(e)]
t_net2003 = t_net2003[~t_net2003['iso_o'].isin(e)]
t_net2004 = t_net2004[~t_net2004['iso_o'].isin(e)]
t_net2005 = t_net2005[~t_net2005['iso_o'].isin(e)]
t_net2006 = t_net2006[~t_net2006['iso_o'].isin(e)]
t_net2007 = t_net2007[~t_net2007['iso_o'].isin(e)]
t_net2008 = t_net2008[~t_net2008['iso_o'].isin(e)]
t_net2009 = t_net2009[~t_net2009['iso_o'].isin(e)]
t_net2010 = t_net2010[~t_net2010['iso_o'].isin(e)]
t_net2011 = t_net2011[~t_net2011['iso_o'].isin(e)]
t_net2012 = t_net2012[~t_net2012['iso_o'].isin(e)]
t_net2013 = t_net2013[~t_net2013['iso_o'].isin(e)]
t_net2014 = t_net2014[~t_net2014['iso_o'].isin(e)]
t_net2015 = t_net2015[~t_net2015['iso_o'].isin(e)]
t_net2016 = t_net2016[~t_net2016['iso_o'].isin(e)]
t_net2017 = t_net2017[~t_net2017['iso_o'].isin(e)]
t_net2018 = t_net2018[~t_net2018['iso_o'].isin(e)]
t_net2019 = t_net2019[~t_net2019['iso_o'].isin(e)]
t_net2020 = t_net2020[~t_net2020['iso_o'].isin(e)]
t_net2021 = t_net2021[~t_net2021['iso_o'].isin(e)]
t_net2022 = t_net2022[~t_net2022['iso_o'].isin(e)]
t_net2023 = t_net2023[~t_net2023['iso_o'].isin(e)]

In [34]:
assert set(t_net2000['iso_o'].unique()) == set(t_net2001['iso_o'].unique()) == set(t_net2003['iso_o'].unique())\
== set(t_net2004['iso_o'].unique()) == set(t_net2005['iso_o'].unique()) == set(t_net2006['iso_o'].unique()) == set(t_net2007['iso_o'].unique())\
== set(t_net2008['iso_o'].unique()) == set(t_net2009['iso_o'].unique()) == set(t_net2010['iso_o'].unique()) == set(t_net2011['iso_o'].unique())\
== set(t_net2012['iso_o'].unique()) == set(t_net2013['iso_o'].unique()) == set(t_net2014['iso_o'].unique()) == set(t_net2015['iso_o'].unique())\
== set(t_net2016['iso_o'].unique()) == set(t_net2017['iso_o'].unique()) == set(t_net2018['iso_o'].unique()) == set(t_net2019['iso_o'].unique())\
== set(t_net2020['iso_o'].unique()) == set(t_net2021['iso_o'].unique()) == set(t_net2022['iso_o'].unique()) == set(t_net2023['iso_o'].unique())

In [35]:
t_net2000['iso_o'].nunique()

187

### Removing ['NRU', 'ERI', 'SDN'] from edgelists, complete attribute file (Time series) and from compelete panel data

In [36]:
total = pd.read_csv("../data/cleaned/total_edgelist.csv")
unique = pd.read_csv("../data/cleaned/unique_edgelist.csv")
repro = pd.read_csv("../data/cleaned/reproducible_edgelist.csv")
hyst_total = pd.read_csv("../data/cleaned/edgelist_total_hyst.csv")
hyst_unique = pd.read_csv("../data/cleaned/edgelist_unique_hyst.csv")
hyst_repro = pd.read_csv("../data/cleaned/edgelist_repro_hyst.csv")
distance = pd.read_csv("../data/cleaned/distance_edgelist.csv")
comcol = pd.read_csv("../data/cleaned/comcol_edgelist.csv")
colonizer = pd.read_csv("../data/cleaned/colonizer_edgelist.csv")
language = pd.read_csv("../data/cleaned/language_edgelist.csv")
contiguity = pd.read_csv("../data/cleaned/contiguity_edgelist.csv")
attribute2000_2023 = pd.read_csv("../data/cleaned/attributes2000_2023.csv")
rta = pd.read_csv("../data/cleaned/rta_edgelist.csv")
panel = pd.read_csv("../data/cleaned/panel_complete.csv")

In [37]:
total = total[~total['iso_o'].isin(e)]
total = total[~total['iso_d'].isin(e)]

In [38]:
unique = unique[~unique['iso_o'].isin(e)]
unique = unique[~unique['iso_d'].isin(e)]

In [39]:
repro = repro[~repro['iso_o'].isin(e)]
repro = repro[~repro['iso_d'].isin(e)]

In [40]:
hyst_total = hyst_total[~hyst_total['iso_o'].isin(e)]
hyst_total = hyst_total[~hyst_total['iso_d'].isin(e)]

In [41]:
hyst_unique = hyst_unique[~hyst_unique['iso_o'].isin(e)]
hyst_unique = hyst_unique[~hyst_unique['iso_d'].isin(e)]

In [42]:
hyst_repro = hyst_repro[~hyst_repro['iso_o'].isin(e)]
hyst_repro = hyst_repro[~hyst_repro['iso_d'].isin(e)]

In [43]:
distance = distance[~distance['iso_o'].isin(e)]
distance = distance[~distance['iso_d'].isin(e)]

In [44]:
comcol = comcol[~comcol['iso_o'].isin(e)]
comcol = comcol[~comcol['iso_d'].isin(e)]

In [45]:
e

['NRU', 'ERI', 'SDN']

In [46]:
colonizer = colonizer[~colonizer['iso_o'].isin(e)]
colonizer = colonizer[~colonizer['iso_d'].isin(e)]

In [47]:
language = language[~language['iso_o'].isin(e)]
language = language[~language['iso_d'].isin(e)]

In [48]:
contiguity = contiguity[~contiguity['iso_o'].isin(e)]
contiguity = contiguity[~contiguity['iso_d'].isin(e)]

In [49]:
rta = rta[~rta['iso_o'].isin(e)]
rta = rta[~rta['iso_d'].isin(e)]

In [50]:
panel = panel[~panel['iso_o'].isin(e)]
panel = panel[~panel['iso_d'].isin(e)]

In [51]:
attribute2000_2023 = attribute2000_2023[~attribute2000_2023['iso_o'].isin(e)]

In [53]:
at2000[at2000['iso_o'] == 'ABW']

,iso_o,Country,Time,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,country,...,lon,langoff_1,colonizer1,category,development,TIME_PERIOD,log_gdp_pct,log_population,D_log_gdp_pct,D_log_gdp
8,ABW,Aruba,2000,1.873453e+09,20681.02,90588.0,145.07,21.351049,4.977216,Aruba,...,-70.099998,Dutch,NLD,Emerging and Developing Economies,0.0,2000,9.936972,11.414077,0.073462,0.083773

In [54]:
#panel[panel['iso_o'] == 'ABW']

In [55]:
#panel[(panel['iso_o'] == 'ABW') & (panel['iso_d'] == 'AFG')] #it has 24 rows for every year. SO it is sane.

In [56]:
t_net2007.head(2)

,Unnamed: 0,iso_o,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
0,1,ABW,1,0.001929,1,43612.463087,1,789.095554,1,582.15133,0.989585,0.986248
1,2,AFG,2,0.002326,2,8493.915532,2,126.238219,2,736.46201,0.939081,0.966207

In [57]:
at2000.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp'],
      dtype='object')

In [58]:
at2000 = at2000.merge(u_net2000, on = 'iso_o', how = 'left').merge(r_net2000, on = 'iso_o', how = 'left').merge(t_net2000, on = 'iso_o', how = 'left')
at2001 = at2001.merge(u_net2001, on = 'iso_o', how = 'left').merge(r_net2001, on = 'iso_o', how = 'left').merge(t_net2001, on = 'iso_o', how = 'left')
at2002 = at2002.merge(u_net2002, on = 'iso_o', how = 'left').merge(r_net2002, on = 'iso_o', how = 'left').merge(t_net2002, on = 'iso_o', how = 'left')
at2003 = at2003.merge(u_net2003, on = 'iso_o', how = 'left').merge(r_net2003, on = 'iso_o', how = 'left').merge(t_net2003, on = 'iso_o', how = 'left')
at2004 = at2004.merge(u_net2004, on = 'iso_o', how = 'left').merge(r_net2004, on = 'iso_o', how = 'left').merge(t_net2004, on = 'iso_o', how = 'left')
at2005 = at2005.merge(u_net2005, on = 'iso_o', how = 'left').merge(r_net2005, on = 'iso_o', how = 'left').merge(t_net2005, on = 'iso_o', how = 'left')
at2006 = at2006.merge(u_net2006, on = 'iso_o', how = 'left').merge(r_net2006, on = 'iso_o', how = 'left').merge(t_net2006, on = 'iso_o', how = 'left')
at2007 = at2007.merge(u_net2007, on = 'iso_o', how = 'left').merge(r_net2007, on = 'iso_o', how = 'left').merge(t_net2007, on = 'iso_o', how = 'left')
at2008 = at2008.merge(u_net2008, on = 'iso_o', how = 'left').merge(r_net2008, on = 'iso_o', how = 'left').merge(t_net2008, on = 'iso_o', how = 'left')
at2009 = at2009.merge(u_net2009, on = 'iso_o', how = 'left').merge(r_net2009, on = 'iso_o', how = 'left').merge(t_net2009, on = 'iso_o', how = 'left')
at2010 = at2010.merge(u_net2010, on = 'iso_o', how = 'left').merge(r_net2010, on = 'iso_o', how = 'left').merge(t_net2010, on = 'iso_o', how = 'left')
at2011 = at2011.merge(u_net2011, on = 'iso_o', how = 'left').merge(r_net2011, on = 'iso_o', how = 'left').merge(t_net2011, on = 'iso_o', how = 'left')
at2012 = at2012.merge(u_net2012, on = 'iso_o', how = 'left').merge(r_net2012, on = 'iso_o', how = 'left').merge(t_net2012, on = 'iso_o', how = 'left')
at2013 = at2013.merge(u_net2013, on = 'iso_o', how = 'left').merge(r_net2013, on = 'iso_o', how = 'left').merge(t_net2013, on = 'iso_o', how = 'left')
at2014 = at2014.merge(u_net2014, on = 'iso_o', how = 'left').merge(r_net2014, on = 'iso_o', how = 'left').merge(t_net2014, on = 'iso_o', how = 'left')
at2015 = at2015.merge(u_net2015, on = 'iso_o', how = 'left').merge(r_net2015, on = 'iso_o', how = 'left').merge(t_net2015, on = 'iso_o', how = 'left')
at2016 = at2016.merge(u_net2016, on = 'iso_o', how = 'left').merge(r_net2016, on = 'iso_o', how = 'left').merge(t_net2016, on = 'iso_o', how = 'left')
at2017 = at2017.merge(u_net2017, on = 'iso_o', how = 'left').merge(r_net2017, on = 'iso_o', how = 'left').merge(t_net2017, on = 'iso_o', how = 'left')
at2018 = at2018.merge(u_net2018, on = 'iso_o', how = 'left').merge(r_net2018, on = 'iso_o', how = 'left').merge(t_net2018, on = 'iso_o', how = 'left')
at2019 = at2019.merge(u_net2019, on = 'iso_o', how = 'left').merge(r_net2019, on = 'iso_o', how = 'left').merge(t_net2019, on = 'iso_o', how = 'left')
at2020 = at2020.merge(u_net2020, on = 'iso_o', how = 'left').merge(r_net2020, on = 'iso_o', how = 'left').merge(t_net2020, on = 'iso_o', how = 'left')
at2021 = at2021.merge(u_net2021, on = 'iso_o', how = 'left').merge(r_net2021, on = 'iso_o', how = 'left').merge(t_net2021, on = 'iso_o', how = 'left')
at2022 = at2022.merge(u_net2022, on = 'iso_o', how = 'left').merge(r_net2022, on = 'iso_o', how = 'left').merge(t_net2022, on = 'iso_o', how = 'left')
at2023 = at2023.merge(u_net2023, on = 'iso_o', how = 'left').merge(r_net2023, on = 'iso_o', how = 'left').merge(t_net2023, on = 'iso_o', how = 'left')

In [59]:
at2000.to_csv("../data/cleaned/attribute2000.csv", encoding = 'utf-8', index = False)
at2001.to_csv("../data/cleaned/attribute2001.csv", encoding = 'utf-8', index = False)
at2002.to_csv("../data/cleaned/attribute2002.csv", encoding = 'utf-8', index = False)
at2003.to_csv("../data/cleaned/attribute2003.csv", encoding = 'utf-8', index = False)
at2004.to_csv("../data/cleaned/attribute2004.csv", encoding = 'utf-8', index = False)
at2005.to_csv("../data/cleaned/attribute2005.csv", encoding = 'utf-8', index = False)
at2006.to_csv("../data/cleaned/attribute2006.csv", encoding = 'utf-8', index = False)
at2007.to_csv("../data/cleaned/attribute2007.csv", encoding = 'utf-8', index = False)
at2008.to_csv("../data/cleaned/attribute2008.csv", encoding = 'utf-8', index = False)
at2009.to_csv("../data/cleaned/attribute2009.csv", encoding = 'utf-8', index = False)
at2010.to_csv("../data/cleaned/attribute2010.csv", encoding = 'utf-8', index = False)
at2011.to_csv("../data/cleaned/attribute2011.csv", encoding = 'utf-8', index = False)
at2012.to_csv("../data/cleaned/attribute2012.csv", encoding = 'utf-8', index = False)
at2013.to_csv("../data/cleaned/attribute2013.csv", encoding = 'utf-8', index = False)
at2014.to_csv("../data/cleaned/attribute2014.csv", encoding = 'utf-8', index = False)
at2015.to_csv("../data/cleaned/attribute2015.csv", encoding = 'utf-8', index = False)
at2016.to_csv("../data/cleaned/attribute2016.csv", encoding = 'utf-8', index = False)
at2017.to_csv("../data/cleaned/attribute2017.csv", encoding = 'utf-8', index = False)
at2018.to_csv("../data/cleaned/attribute2018.csv", encoding = 'utf-8', index = False)
at2019.to_csv("../data/cleaned/attribute2019.csv", encoding = 'utf-8', index = False)
at2020.to_csv("../data/cleaned/attribute2020.csv", encoding = 'utf-8', index = False)
at2021.to_csv("../data/cleaned/attribute2021.csv", encoding = 'utf-8', index = False)
at2022.to_csv("../data/cleaned/attribute2022.csv", encoding = 'utf-8', index = False)
at2023.to_csv("../data/cleaned/attribute2023.csv", encoding = 'utf-8', index = False)

In [60]:
time_varying = pd.concat([at2000, at2001, at2002, at2003, at2004, at2005, at2006, at2007, at2008, at2009, at2010, at2011, at2012, at2013, at2014, at2015, at2016, at2017, at2018, at2019, at2020, at2021, at2022, at2023], axis = 0)

In [61]:
time_varying = time_varying.drop(columns = ['Unnamed: 0'])

In [62]:
print(time_varying['iso_o'].nunique())
print(time_varying['Time'].nunique())
print(time_varying['Time'].unique())

187
24
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [69]:
time_varying.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'TIME_PERIOD', 'log_gdp_pct', 'log_population',
       'D_log_gdp_pct', 'D_log_gdp', 'pageRank_unique.wpr',
       'close_unique.closeness', 'outdegree_unique.degree',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.wpr',
       'close_repro.closeness', 'outdegree_repro.degree',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'pageRank_total.wpr', 'close_total.closeness',
       'outdegree_total.degree', 'indegree_total.degree',
       'local_clust_tt_total', 'local_clust_out_total'],
      dtype='object')

In [70]:
time_varying = time_varying.drop(columns =['pageRank_unique.name', 'Unnamed: 0_x', 'close_unique.name','outdegree_unique.name','indegree_unique.name', 'pageRank_repro.name', 'close_repro.name', 'outdegree_repro.name', 'indegree_repro.name'])

KeyError: "['pageRank_unique.name', 'Unnamed: 0_x', 'close_unique.name', 'outdegree_unique.name', 'indegree_unique.name', 'pageRank_repro.name', 'close_repro.name', 'outdegree_repro.name', 'indegree_repro.name'] not found in axis"

In [71]:
time_varying.to_csv("../data/cleaned/attribute_centrality_long.csv", encoding = 'utf-8', index = False)

In [72]:
187*187

34969

In [73]:
34969 - 187

34782

In [74]:
34782*24

834768

In [75]:
panel.shape

(834768, 53)

In [76]:
attribute2000_2023.shape

(4675, 14)

In [77]:
print(colonizer['iso_o'].nunique())
print(colonizer['iso_d'].nunique())

187
187

In [78]:
print(total['iso_o'].nunique())
print(total['iso_d'].nunique())

print(unique['iso_o'].nunique())
print(unique['iso_d'].nunique())

print(repro['iso_o'].nunique())
print(repro['iso_d'].nunique())

print(hyst_total['iso_o'].nunique())
print(hyst_total['iso_d'].nunique())

print(hyst_unique['iso_o'].nunique())
print(hyst_unique['iso_d'].nunique())

print(hyst_repro['iso_o'].nunique())
print(hyst_repro['iso_d'].nunique())

print(distance['iso_o'].nunique())
print(distance['iso_d'].nunique())

print(comcol['iso_o'].nunique())
print(comcol['iso_d'].nunique())

print(language['iso_o'].nunique())
print(language['iso_d'].nunique())

print(contiguity['iso_o'].nunique())
print(contiguity['iso_d'].nunique())

print(rta['iso_o'].nunique())
print(rta['iso_d'].nunique())

print(attribute2000_2023['iso_o'].nunique())

print(panel['iso_o'].nunique())
print(panel['iso_d'].nunique())

187
187
187
187
187
187
187
187
189
189
187
187
187
187
187
187
187
187
187
187
187
187
187
187
187

In [79]:
print(distance['iso_o'].nunique())
print(distance['iso_d'].nunique())

187
187

In [80]:
assert total['iso_o'].nunique() == total['iso_d'].nunique()

In [81]:
assert set(total['iso_o'].unique()) == set(total['iso_d'].unique())

In [82]:
assert repro['iso_o'].nunique() == repro['iso_d'].nunique()

In [83]:
assert set(repro['iso_o'].unique()) == set(repro['iso_d'].unique())

In [84]:
assert unique['iso_o'].nunique() == unique['iso_d'].nunique()

In [85]:
assert set(unique['iso_o'].unique()) == set(unique['iso_d'].unique())

In [86]:
assert distance['iso_o'].nunique() == distance['iso_d'].nunique()

In [87]:
assert set(distance['iso_o'].unique()) == set(distance['iso_d'].unique())

In [88]:
assert language['iso_o'].nunique() == language['iso_d'].nunique()

In [89]:
assert set(language['iso_o'].unique()) == set(language['iso_d'].unique())

In [90]:
assert comcol['iso_o'].nunique() == comcol['iso_d'].nunique()

In [91]:
assert set(comcol['iso_o'].unique()) == set(comcol['iso_d'].unique())

In [92]:
assert contiguity['iso_o'].nunique() == contiguity['iso_d'].nunique()

In [93]:
assert set(contiguity['iso_o'].unique()) == set(contiguity['iso_d'].unique())

In [94]:
assert panel['iso_o'].nunique() == panel['iso_d'].nunique()

In [95]:
assert set(panel['iso_o'].unique()) == set(panel['iso_d'].unique())

In [96]:
unique = unique.reset_index(drop = True)

### Adding network matrices to attribute2000_2023 data

In [97]:
assert panel.groupby(['iso_o', 'iso_d']).ngroups == panel["dyad_id"].nunique()

In [98]:
distance['log_dist'].mean()

8.785997186675242

In [99]:
print(comcol['comcol'].value_counts())
print((comcol['comcol'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

comcol
0    31118
1     3664
Name: count, dtype: int64
comcol
0    89.47%
1    10.53%
Name: proportion, dtype: object

In [100]:
print(colonizer['colony'].value_counts())
print((colonizer['colony'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

colony
0    34404
1      378
Name: count, dtype: int64
colony
0    98.91%
1     1.09%
Name: proportion, dtype: object

In [101]:
print(language['comlang_off'].value_counts())
print((language['comlang_off'].value_counts(normalize=True)* 100).round(2).astype(str) + '%')

comlang_off
0    29440
1     5342
Name: count, dtype: int64
comlang_off
0    84.64%
1    15.36%
Name: proportion, dtype: object

In [102]:
fixed = pd.read_csv("../data/cleaned/fixed.csv")

In [103]:
difference = set(fixed['iso_o'].unique()) - set(language['iso_o'].unique())
len(difference)

37

In [104]:
difference1 = set(fixed['iso_d'].unique()) - set(language['iso_d'].unique())
len(difference1)

37

In [105]:
fixed = fixed[~fixed['iso_o'].isin(difference)]
fixed = fixed[~fixed['iso_d'].isin(difference1)]

In [106]:
print(fixed['iso_o'].nunique())
print(fixed['iso_d'].nunique())

187
187

In [107]:
fixed.groupby(['iso_o', 'iso_d']).ngroups

34782

In [108]:
fixed['dist'].mean()

8170.805725177392

In [109]:
fixed['dist'].std()

4557.290052151321

In [110]:
fixed['dist'].min()

59.61723

In [111]:
fixed['dist'].max()

19904.45

In [112]:
attribute2000_2023['iso_o'].nunique()

187

In [116]:
panel.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'langoff_1_d',
       'colonizer1_d', 'category_d', 'development_d', 'dyad_id'],
      dtype='object')

In [117]:
unique.to_csv("../data/cleaned/unique_edgelist.csv", encoding = 'utf-8', index = False)
total.to_csv("../data/cleaned/total_edgelist.csv", encoding = 'utf-8', index = False)
unique.to_csv("../data/cleaned/unique_edgelist.csv", encoding = 'utf-8', index = False)
hyst_total.to_csv("../data/cleaned/edgelist_total_hyst.csv", encoding = 'utf-8', index = False)
hyst_unique.to_csv("../data/cleaned/edgelist_unique_hyst.csv", encoding = 'utf-8', index = False)
hyst_repro.to_csv("../data/cleaned/edgelist_repro_hyst.csv", encoding = 'utf-8', index = False)
repro.to_csv("../data/cleaned/reproducible_edgelist.csv", encoding = 'utf-8', index = False)
distance.to_csv("../data/cleaned/distance_edgelist.csv", encoding = 'utf-8', index = False)
comcol.to_csv("../data/cleaned/comcol_edgelist.csv", encoding = 'utf-8', index = False)
colonizer.to_csv("../data/cleaned/colonizer_edgelist.csv", encoding = 'utf-8', index = False)
language.to_csv("../data/cleaned/language_edgelist.csv", encoding = 'utf-8', index = False)
contiguity.to_csv("../data/cleaned/contiguity_edgelist.csv", encoding = 'utf-8', index = False)
rta.to_csv("../data/cleaned/rta_edgelist.csv", encoding = 'utf-8', index = False)
panel.to_csv("../data/cleaned/panel_complete.csv", encoding = 'utf-8', index = False)
attribute2000_2023.to_csv("../data/cleaned/attributes2000_2023.csv", encoding = 'utf-8', index = False)

In [2]:
panel = pd.read_csv("../data/cleaned/panel_complete.csv")

In [5]:
panel.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'langoff_1_d',
       'colonizer1_d', 'category_d', 'development_d', 'dyad_id'],
      dtype='object')

In [6]:
at2021 = pd.read_csv('../data/cleaned/attribute2021.csv')
at2022 = pd.read_csv('../data/cleaned/attribute2022.csv')
at2023 = pd.read_csv('../data/cleaned/attribute2023.csv')

In [7]:
at2023.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [26]:
at2023['outdegree_repro.degree'].max()

58011.0793752247

In [27]:
at2023[at2023['outdegree_repro.degree'] == 58011.0793752247]

,iso_o,Country,Time,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,country,...,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
37,CHN,China,2023,1.827036e+13,12951.18,1.410710e+09,36.11,30.536301,3.58657,China,...,35,0.062325,35,325578.853769,35,122058.76639,35,99481.500385,0.94007,0.939538

In [28]:
at2023= at2023.sort_values(by = 'outdegree_repro.degree', ascending=False)

In [34]:
at2023.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'Unnamed: 0_x',
       'pageRank_unique.name', 'pageRank_unique.wpr', 'close_unique.name',
       'close_unique.closeness', 'outdegree_unique.name',
       'outdegree_unique.degree', 'indegree_unique.name',
       'indegree_unique.degree', 'local_clust_tt_unique',
       'local_clust_out_unique', 'Unnamed: 0_y', 'pageRank_repro.name',
       'pageRank_repro.wpr', 'close_repro.name', 'close_repro.closeness',
       'outdegree_repro.name', 'outdegree_repro.degree', 'indegree_repro.name',
       'indegree_repro.degree', 'local_clust_tt_repro',
       'local_clust_out_repro', 'Unnamed: 0', 'pageRank_total.name',
       'pageRank_total.wpr', 'close_total.name', 'close_total.closeness',
       'outdegree_total.name', 'outdegree_total.degree', 'indegree_total.name',
       'indegree_total.degree', 'local_clust_tt_total',
       'local_clust_out_total'],
      dtype='object')

In [37]:
at2023[['iso_o', 'development']].head(10)

    iso_o  development
37    CHN          0.0
93    KOR          1.0
65    DEU          1.0
183   VNM          0.0
178   USA          1.0
87    JPN          1.0
107   MYS          0.0
150   SGP          1.0
114   MEX          0.0
76    HKG          1.0

In [30]:
at2023_importer = at2023.sort_values(by = 'indegree_repro.degree', ascending=False)

In [31]:
at2023_importer.head(10)

,iso_o,Country,Time,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,country,...,pageRank_total.name,pageRank_total.wpr,close_total.name,close_total.closeness,outdegree_total.name,outdegree_total.degree,indegree_total.name,indegree_total.degree,local_clust_tt_total,local_clust_out_total
178,USA,United States,2023,2.772071e+13,82304.62,3.368062e+08,24.90,30.953201,3.214868,United States,...,180,0.075686,180,294259.352193,180,95694.266088,180,130467.458979,0.957981,0.954751
37,CHN,China,2023,1.827036e+13,12951.18,1.410710e+09,36.11,30.536301,3.586570,China,...,35,0.062325,35,325578.853769,35,122058.766390,35,99481.500385,0.940070,0.939538
76,HKG,"Hong Kong SAR, China",2023,3.810664e+11,50565.46,7.536100e+06,352.99,26.666239,5.866440,Hong Kong SAR,...,75,0.009972,75,164158.413286,75,10276.614300,75,20832.871548,0.984029,0.973031
65,DEU,Germany,2023,4.525704e+12,53940.41,8.390192e+07,82.80,29.140794,4.416428,Germany,...,46,0.038198,46,289564.071700,46,82863.388822,46,70900.764482,0.978146,0.978538
114,MEX,Mexico,2023,1.793799e+12,13826.13,1.297398e+08,73.77,28.215357,4.300952,Mexico,...,114,0.014729,114,265796.654406,114,35597.795903,114,33728.276127,0.992158,0.995907
183,VNM,Viet Nam,2023,4.338577e+11,4323.35,1.003522e+08,164.82,26.795982,5.104854,Vietnam,...,184,0.007441,184,191219.984855,184,19198.257334,184,18039.935424,0.991303,0.989836
93,KOR,"Korea, Rep.",2023,1.712793e+12,33121.37,5.171262e+07,87.94,28.169146,4.476655,Korea,...,97,0.015740,97,217770.595607,97,33218.811980,97,35696.016797,0.956575,0.954003
87,JPN,Japan,2023,4.213167e+12,33836.18,1.245166e+08,45.15,29.069236,3.809990,Japan,...,90,0.019889,90,237930.401855,90,40577.227133,90,42113.160415,0.971412,0.971686
123,NLD,Netherlands,2023,1.154361e+12,64572.01,1.787712e+07,165.91,27.774568,5.111445,The Netherlands,...,131,0.021084,131,223553.568390,131,40938.311093,131,41206.537078,0.973235,0.974871
150,SGP,Singapore,2023,5.054395e+11,85412.23,5.917648e+06,325.69,26.948694,5.785946,Singapore,...,154,0.010838,154,166337.373179,154,21406.586018,154,23568.292508,0.956931,0.938964

In [33]:
panel[(panel['TIME_PERIOD'] == 2023) & (panel['iso_o'] == 'KOR')].sort_values(by = 'reproducible_cultural_tr', ascending=False).head(10)

,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,rta,...,D_log_gdp_pct_d,D_log_gdp_d,country_d,landlocked_d,continent_d,langoff_1_d,colonizer1_d,category_d,development_d,dyad_id
424919,KOR,CHN,2023,70064.254622,16.457004,75628.121864,123415.884334,14.314469,138235.885499,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,KOR-CHN
428399,KOR,VNM,2023,21429.004376,0.577156,32587.504516,33372.506342,0.408330,50164.038694,1.0,...,0.041477,0.048191,Vietnam,0,Asia,Vietnamese,FRA,Emerging and Developing Economies,0.0,KOR-VNM
428303,KOR,USA,2023,94159.623302,159.569661,18065.498833,117640.661063,136.415912,28731.947150,1.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,KOR-USA
427679,KOR,SGP,2023,11116.098135,8.415881,9746.117231,16662.964903,12.579952,15211.341039,1.0,...,-0.055637,-0.007055,Singapore,0,Asia,English,GBR,Advanced Economies,1.0,KOR-SGP
425855,KOR,HKG,2023,6565.829976,124.277564,5887.524906,10973.743233,368.116000,10411.826220,0.0,...,0.035009,0.060543,Hong Kong SAR,0,Asia,English,GBR,Advanced Economies,1.0,KOR-HKG
426767,KOR,MEX,2023,12889.626699,0.564716,4321.473451,19935.649399,0.072317,6154.214126,1.0,...,0.192759,0.201481,Mexico,0,America,Spanish,ESP,Emerging and Developing Economies,0.0,KOR-MEX
426215,KOR,JPN,2023,24968.369569,9.043504,4301.393319,37687.587485,5.845537,6766.518191,0.0,...,-0.006759,-0.011633,Japan,0,Asia,Japanese,0,Advanced Economies,1.0,KOR-JPN
425999,KOR,IND,2023,13749.178185,3.147056,4275.016282,20181.160890,0.452522,5513.286065,1.0,...,0.074937,0.083771,India,0,Asia,English,GBR,Emerging and Developing Economies,0.0,KOR-IND
427367,KOR,PHL,2023,6112.493462,0.035436,3145.085438,9963.378600,0.311467,7360.289169,1.0,...,0.069671,0.077770,Philippines,0,Asia,English,ESP,Emerging and Developing Economies,0.0,KOR-PHL
427031,KOR,MYS,2023,7625.111491,0.191603,3079.794823,12087.373804,0.234380,4485.557204,1.0,...,-0.031913,-0.019573,Malaysia,0,Asia,Malay,GBR,Emerging and Developing Economies,0.0,KOR-MYS

In [35]:
panel[panel['TIME_PERIOD'] == 2023].sort_values(by = 'reproducible_cultural_tr', ascending=False).head(10)

,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,rta,...,D_log_gdp_pct_d,D_log_gdp_d,country_d,landlocked_d,continent_d,langoff_1_d,colonizer1_d,category_d,development_d,dyad_id
155999,CHN,USA,2023,313810.786483,120.129523,118941.875070,554820.732801,181.276259,189573.802629,0.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,CHN-USA
153527,CHN,HKG,2023,94491.442141,455.448907,108233.383981,138393.481355,851.532624,136310.394605,1.0,...,0.035009,0.060543,Hong Kong SAR,0,Asia,English,GBR,Advanced Economies,1.0,CHN-HKG
504191,MEX,USA,2023,380990.349258,71.562806,86708.751818,493794.911915,127.988481,109909.883394,1.0,...,0.055504,0.063818,United States,0,America,English,GBR,Advanced Economies,1.0,MEX-USA
424919,KOR,CHN,2023,70064.254622,16.457004,75628.121864,123415.884334,14.314469,138235.885499,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,KOR-CHN
152855,CHN,DEU,2023,82501.668398,40.473663,52945.382837,148708.820052,73.538706,66920.964296,0.0,...,0.082154,0.083395,Germany,0,Europe,German,0,Advanced Economies,1.0,CHN-DEU
804359,VNM,CHN,2023,27989.767749,0.189273,48454.850081,39743.575569,0.178835,66962.658746,1.0,...,-0.001499,-0.002537,China,0,Asia,Chinese,0,Emerging and Developing Economies,0.0,VNM-CHN
154055,CHN,KOR,2023,96833.952719,15.006466,48210.496367,140913.483644,35.784949,72972.334203,1.0,...,0.022184,0.022959,Korea,0,Asia,Korean,JPN,Advanced Economies,1.0,CHN-KOR
156095,CHN,VNM,2023,80372.347506,1.527002,46957.687209,118576.414871,0.316364,69701.734144,1.0,...,0.041477,0.048191,Vietnam,0,Asia,Vietnamese,FRA,Emerging and Developing Economies,0.0,CHN-VNM
153887,CHN,JPN,2023,114202.998056,14.180574,45620.885245,182228.460384,25.845980,66693.695729,0.0,...,-0.006759,-0.011633,Japan,0,Asia,Japanese,0,Advanced Economies,1.0,CHN-JPN
153671,CHN,IND,2023,78176.712556,0.659437,40967.983231,103436.462295,2.782618,42193.840178,1.0,...,0.074937,0.083771,India,0,Asia,English,GBR,Emerging and Developing Economies,0.0,CHN-IND