In [1]:
import pandas as pd

#### Pruning the edgelists

In [2]:
total = pd.read_csv("../data/cleaned/total_edgelist.csv")
unique = pd.read_csv("../data/cleaned/unique_edgelist.csv")
repro = pd.read_csv("../data/cleaned/reproducible_edgelist.csv")
total_hyst = pd.read_csv("../data/cleaned/edgelist_total_hyst.csv")
unique_hyst = pd.read_csv("../data/cleaned/edgelist_unique_hyst.csv")
repro_hyst = pd.read_csv("../data/cleaned/edgelist_repro_hyst.csv")
distance = pd.read_csv("../data/cleaned/distance_edgelist.csv")
colony = pd.read_csv("../data/cleaned/colonizer_edgelist.csv")
comcol = pd.read_csv("../data/cleaned/comcol_edgelist.csv")
language = pd.read_csv("../data/cleaned/language_edgelist.csv")
contiguity = pd.read_csv("../data/cleaned/contiguity_edgelist.csv")
rta = pd.read_csv("../data/cleaned/rta_edgelist.csv")
attribute2000_2023 = pd.read_csv("../data/cleaned/attributes2000_2023.csv")

In [4]:
print(total['iso_o'].nunique())
print(unique['iso_o'].nunique())
print(repro['iso_o'].nunique())
print(total_hyst['iso_o'].nunique())
print(unique_hyst['iso_o'].nunique())
print(repro_hyst['iso_o'].nunique())
print(distance['iso_o'].nunique())
print(colony['iso_o'].nunique())
print(comcol['iso_o'].nunique())
print(language['iso_o'].nunique())
print(contiguity['iso_o'].nunique())
print(rta['iso_o'].nunique())
print(attribute2000_2023['iso_o'].nunique())

192
192
192
192
192
192
192
192
192
192
192
280
190

**I am keeping only the countries present in all edgelists and attribute datasets. Hence, I am conducting an inner join process.** 

The steps to prune the edgelists:
>1. Finding out the countries those are not in the attributes edgelist.
>2. Removing those countries from origin column ['iso_o'].
>3. Removing those countries from destination column ['iso_d'].
>4. Checking whether the countries in the origin and destination of an edgelist are same
>5. Cheking whether the number of countries in the origin and destination of an edgelist are same
>6. Replacing the original edgelist saved in the 'cleaned' subfolder of 'data' folder by saving it with the same name as

* Total

In [5]:
set(total['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [6]:
total = total[(total['iso_o'] != 'MSR') & (total['iso_o'] != 'TWN')]
total = total[(total['iso_d'] != 'MSR') & (total['iso_d'] != 'TWN')]

In [7]:
set(total['iso_o'].unique()) - set(total['iso_o'].unique())

set()

In [8]:
print(total['iso_o'].nunique())
print(total['iso_d'].nunique())

190
190

In [9]:
total.to_csv("../data/cleaned/total_edgelist.csv", encoding = 'utf-8', index = False)

In [10]:
set(total_hyst['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [11]:
total_hyst = total_hyst[(total_hyst['iso_o'] != 'MSR') & (total_hyst['iso_o'] != 'TWN')]
total_hyst = total_hyst[(total_hyst['iso_d'] != 'MSR') & (total_hyst['iso_d'] != 'TWN')]

In [12]:
set(total_hyst['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

set()

In [13]:
print(total_hyst['iso_o'].nunique())
print(total_hyst['iso_d'].nunique())

190
190

In [14]:
total_hyst.to_csv("../data/cleaned/edgelist_total_hyst.csv", encoding = 'utf-8', index = False)

* Unique

In [15]:
set(unique['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [16]:
unique = unique[(unique['iso_o'] != 'MSR') & (unique['iso_o'] != 'TWN')]
unique = unique[(unique['iso_d'] != 'MSR') & (unique['iso_d'] != 'TWN')]

In [17]:
set(unique['iso_o'].unique()) - set(unique['iso_o'].unique())

set()

In [18]:
print(unique['iso_o'].nunique())
print(unique['iso_d'].nunique())

190
190

In [19]:
unique.to_csv("../data/cleaned/unique_edgelist.csv", encoding = 'utf-8', index = False)

In [20]:
set(unique_hyst['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [21]:
unique_hyst = unique_hyst[(unique_hyst['iso_o'] != 'MSR') & (unique_hyst['iso_o'] != 'TWN')]
unique_hyst = unique_hyst[(unique_hyst['iso_d'] != 'MSR') & (unique_hyst['iso_d'] != 'TWN')]

In [22]:
set(unique_hyst['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

set()

In [23]:
print(unique_hyst['iso_o'].nunique())
print(unique_hyst['iso_d'].nunique())

190
190

In [24]:
unique_hyst.to_csv("../data/cleaned/edgelist_unique_hyst.csv", encoding = 'utf-8', index = False)

* Reproducible

In [25]:
set(repro['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [26]:
repro = repro[(repro['iso_o'] != 'MSR') & (repro['iso_o'] != 'TWN')]
repro = repro[(repro['iso_d'] != 'MSR') & (repro['iso_d'] != 'TWN')]

In [27]:
set(repro['iso_o'].unique()) - set(unique['iso_o'].unique())

set()

In [28]:
print(repro['iso_o'].nunique())
print(repro['iso_d'].nunique())

190
190

In [29]:
repro.to_csv("../data/cleaned/reproducible_edgelist.csv", encoding = 'utf-8', index = False)

In [30]:
set(repro_hyst['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [31]:
repro_hyst = repro_hyst[(repro_hyst['iso_o'] != 'MSR') & (repro_hyst['iso_o'] != 'TWN')]
repro_hyst = repro_hyst[(repro_hyst['iso_d'] != 'MSR') & (repro_hyst['iso_d'] != 'TWN')]

In [32]:
set(repro_hyst['iso_o'].unique()) - set(unique['iso_o'].unique())

set()

In [33]:
print(repro_hyst['iso_o'].nunique())
print(repro_hyst['iso_d'].nunique())

190
190

In [35]:
repro_hyst.to_csv("../data/cleaned/edgelist_repro_hyst.csv", encoding = 'utf-8', index = False)

* Distance

In [36]:
set(distance['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [37]:
distance = distance[(distance['iso_o'] != 'MSR') & (distance['iso_o'] != 'TWN')]
distance = distance[(distance['iso_d'] != 'MSR') & (distance['iso_d'] != 'TWN')]

In [38]:
set(distance['iso_o'].unique()) - set(distance['iso_o'].unique())

set()

In [39]:
print(distance['iso_o'].nunique())
print(distance['iso_d'].nunique())

190
190

In [40]:
distance.to_csv("../data/cleaned/distance_edgelist.csv", encoding = 'utf-8', index = False)

* Contiguity

In [41]:
set(contiguity['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [42]:
contiguity = contiguity[(contiguity['iso_o'] != 'MSR') & (contiguity['iso_o'] != 'TWN')]
contiguity = contiguity[(contiguity['iso_d'] != 'MSR') & (contiguity['iso_d'] != 'TWN')]

In [43]:
set(contiguity['iso_o'].unique()) - set(contiguity['iso_o'].unique())

set()

In [44]:
print(contiguity['iso_o'].nunique())
print(contiguity['iso_d'].nunique())

190
190

In [45]:
contiguity.to_csv("../data/cleaned/contiguity_edgelist.csv", encoding = 'utf-8', index = False)

* Colonizer

In [46]:
set(colony['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [47]:
colony = colony[(colony['iso_o'] != 'MSR') & (colony['iso_o'] != 'TWN')]
colony = colony[(colony['iso_d'] != 'MSR') & (colony['iso_d'] != 'TWN')]

In [48]:
set(colony['iso_o'].unique()) - set(colony['iso_o'].unique())

set()

In [49]:
print(colony['iso_o'].nunique())
print(colony['iso_d'].nunique())

190
190

In [50]:
colony.to_csv("../data/cleaned/colonizer_edgelist.csv", encoding = 'utf-8', index = False)

* Common Colonizer

In [51]:
set(comcol['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [52]:
comcol = comcol[(comcol['iso_o'] != 'MSR') & (comcol['iso_o'] != 'TWN')]
comcol = comcol[(comcol['iso_d'] != 'MSR') & (comcol['iso_d'] != 'TWN')]

In [53]:
set(comcol['iso_o'].unique()) - set(comcol['iso_o'].unique())

set()

In [54]:
print(comcol['iso_o'].nunique())
print(comcol['iso_d'].nunique())

190
190

In [55]:
comcol.to_csv("../data/cleaned/comcol_edgelist.csv", encoding = 'utf-8', index = False)

* Language

In [56]:
set(language['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

{'MSR', 'TWN'}

In [57]:
language = language[(language['iso_o'] != 'MSR') & (language['iso_o'] != 'TWN')]
language = language[(language['iso_d'] != 'MSR') & (language['iso_d'] != 'TWN')]

In [58]:
set(language['iso_o'].unique()) - set(language['iso_o'].unique())

set()

In [59]:
print(language['iso_o'].nunique())
print(language['iso_d'].nunique())

190
190

In [60]:
language.to_csv("../data/cleaned/language_edgelist.csv", encoding = 'utf-8', index = False)

* RTA

In [61]:
l = set(rta['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique())

In [62]:
len(l)

90

In [63]:
280 - 90

190

In [64]:
rta = rta[~rta['iso_o'].isin(l)]
rta = rta[~rta['iso_d'].isin(l)]

In [65]:
print(rta['iso_o'].nunique())
print(rta['iso_d'].nunique())

190
190

In [66]:
rta.to_csv("../data/cleaned/rta_edgelist.csv", encoding = 'utf-8', index = False)

In [67]:
assert rta['iso_o'].nunique() == total['iso_o'].nunique() == unique['iso_o'].nunique() == repro['iso_o'].nunique() == distance['iso_o'].nunique() == comcol['iso_o'].nunique() == colony['iso_o'].nunique() == language['iso_o'].nunique() == contiguity['iso_o'].nunique() == attribute2000_2023['iso_o'].nunique()

In [68]:
assert rta['iso_d'].nunique() == total['iso_d'].nunique() == unique['iso_d'].nunique() == repro['iso_d'].nunique() == distance['iso_d'].nunique() == comcol['iso_d'].nunique() == colony['iso_d'].nunique() == language['iso_d'].nunique() == contiguity['iso_d'].nunique()

In [69]:
assert set(rta['iso_d'].unique()) == set(total['iso_d'].unique()) == set(unique['iso_d'].unique()) == set(repro['iso_d'].unique()) == set(distance['iso_d'].unique()) == set(comcol['iso_d'].unique()) == set(colony['iso_d'].unique()) == set(language['iso_d'].unique()) == set(contiguity['iso_d'].unique())

In [70]:
assert set(rta['iso_o'].unique()) == set(total['iso_o'].unique()) == set(unique['iso_o'].unique()) == set(repro['iso_o'].unique()) == set(distance['iso_o'].unique()) == set(comcol['iso_o'].unique()) == set(colony['iso_o'].unique()) == set(language['iso_o'].unique()) == set(contiguity['iso_o'].unique())

In [71]:
print(total['iso_o'].nunique())
print(unique['iso_o'].nunique())
print(repro['iso_o'].nunique())
print(total_hyst['iso_o'].nunique())
print(unique_hyst['iso_o'].nunique())
print(repro_hyst['iso_o'].nunique())
print(distance['iso_o'].nunique())
print(comcol['iso_o'].nunique())
print(colony['iso_o'].nunique())
print(language['iso_o'].nunique())
print(contiguity['iso_o'].nunique())
print(rta['iso_o'].nunique())
print(attribute2000_2023['iso_o'].nunique())

190
190
190
190
190
190
190
190
190
190
190
190
190

### Preparing the panel data

**Steps to prepare the panel dataet:**
>1. Removing the year 1999 from attribute2000_2023 dataframe for removing the NaN columns of first differences variables
>2. Renaming the 'time' column to 'TIME_PERIOD" of attributes data to match with the other dataset
>3. Finding out and removing the countries those are present in the long format trade dataset but are not in the attributes dataset from both origin and destination
>4. Renaming the 'OBS_VALUE' column of the respective trade data frame as 'total_tr', 'unique_cultural_tr'and 'reproducible_cultural_tr'
>5. Finding out and removing the countries those are present in the dataset containing all fixed factors (both node and dyad level) but are not in the attributes dataset from both origin and destination
>6. Imputing missing values for the 'development' column of the fixed long data from WDI country classification based on income.
>7. Merging the attributes data with total trade data first as the attributes has highest rows for each observation ['iso_o'] and ordering the columns and naming it as 'panel_total'
>8. Removing 'PRODUCT_HS' and 'ADJUSTMENT' columns from unique cultural trade data and merging with the 'panel_total' on 'iso_o', 'iso_d' and 'TIME_PERIOD', using left joing method and naming the new data as 'panel_total2'
>9. Removing 'PRODUCT_HS' and 'product_count' columns from reproducible cultual trade data and merging with the 'panel_total2' on 'iso_o', 'iso_d' and 'TIME_PERIOD', using left joing method and naming the new data as 'panel_total3'
>10. From Itertools I made a dataframe of all possible country pair for all 24 years that have 190*190*24 rows.
>11. I removed the selfloops from that dataframe with three columns.
>12. I merged it with the subset of the panel_data3 dataframe created at step 7 on 'iso_o', 'iso_d' and 'TIME_PERIOD'
>13. Then I merged 'attribute2000_2023' which is the country level attribute data on 'iso_o' and 'TIME_PERIOD'
>14. Created a copy of the dataframe, renaming all the colum names with suffix '_d', removing the 'iso_o' column
>15. Removing duplicates on `['iso_d', 'TIME_PERIOD']`
>16. Checking that every country appears 24 times (once for every year)
>17. Merging this data on `['iso_d', 'TIME_PERIOD']`
>18. Merging fixed_long data (having node and dyad level fixed factors) with it on 'iso_o' and 'iso_d'
>10. Sanity check steps and saving as csv

In [72]:
attribute2000_2023 = attribute2000_2023.rename(columns = {'time': 'TIME_PERIOD'})

In [73]:
total_long = pd.read_csv("../data/cleaned/total2000_2023.csv")
unique_long = pd.read_csv("../data/cleaned/unique2000_2023.csv")
repro_long = pd.read_csv("../data/cleaned/reproducible2000_2023.csv")
fixed_long = pd.read_csv("../data/cleaned/fixed.csv")

In [74]:
print(attribute2000_2023['iso_o'].nunique())
print(fixed_long['iso_o'].nunique())

190
224

In [75]:
224 - 190

34

In [76]:
print(set(total_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))
print(set(unique_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))
print(set(repro_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))
print(set(fixed_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))

{'MSR', 'ROU', 'TWN', 'SSD', 'WXD', 'COD', 'SRB', 'MNE', 'TLS', 'PSE', 'SCG_F'}
{'MSR', 'ROU', 'TWN', 'SSD', 'WXD', 'COD', 'SRB', 'MNE', 'TLS', 'PSE', 'SCG_F'}
{'MSR', 'ROU', 'TWN', 'SSD', 'WXD', 'COD', 'SRB', 'MNE', 'TLS', 'PSE', 'SCG_F'}
{'MSR', 'SOM', 'PCN', 'FRO', 'REU', 'ESH', 'SPM', 'TMP', 'FLK', 'CXR', 'ANT', 'SMR', 'ROM', 'YUG', 'WLF', 'GUF', 'MNP', 'TWN', 'COK', 'GLP', 'MTQ', 'PAL', 'TKL', 'SHN', 'AIA', 'VGB', 'PRI', 'GIB', 'NFK', 'CYM', 'NIU', 'CCK', 'TCA', 'ZAR'}

In [77]:
 attribute2000_2023.head()

,iso_o,country,TIME_PERIOD,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,log_gdp_pct,log_population,country_id,D_log_gdp_pct,D_log_gdp
0,ABW,Aruba,1999,1.722905e+09,19216.199,89659,164.56000,21.267277,5.103275,9.863509,11.403769,ABW,NaN,NaN
1,ABW,Aruba,2000,1.873453e+09,20681.020,90588,145.07001,21.351049,4.977216,9.936972,11.414077,ABW,0.073462,0.083773
2,ABW,Aruba,2001,1.896457e+09,20740.131,91439,140.39000,21.363253,4.944424,9.939826,11.423428,ABW,0.002854,0.012203
3,ABW,Aruba,2002,1.961844e+09,21307.250,92074,133.23000,21.397150,4.892077,9.966803,11.430347,ABW,0.026977,0.033897
4,ABW,Aruba,2003,2.044112e+09,21949.490,93128,132.78999,21.438229,4.888769,9.996499,11.441730,ABW,0.029696,0.041079

In [78]:
attribute2000_2023= attribute2000_2023[attribute2000_2023['TIME_PERIOD'] != 1999]

In [79]:
assert attribute2000_2023['TIME_PERIOD'].nunique() == total_long['TIME_PERIOD'].nunique() == unique_long['TIME_PERIOD'].nunique() == repro_long['TIME_PERIOD'].nunique()

* The number of countries in the long format trade datasets are 201 and the number of countries in the attribute dataset is 190. All the long format trade datasets have the same 11 more countries than the attribute dataset.
* The dyad level time invariant 'fixed' dataset has 34 countries those are not in the attribute dataset.

* Total trade

In [80]:
remove_from_trade = list(set(total_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))

In [81]:
remove_from_trade

['MSR', 'ROU', 'TWN', 'SSD', 'WXD', 'COD', 'SRB', 'MNE', 'TLS', 'PSE', 'SCG_F']

In [82]:
total_long = total_long[~total_long['iso_o'].isin(remove_from_trade)]
total_long = total_long[~total_long['iso_d'].isin(remove_from_trade)]

In [83]:
total_long = total_long.rename(columns = {'OBS_VALUE': 'total_tr'})

In [84]:
total_long.head(3)

  iso_o iso_d  TIME_PERIOD  total_tr  hysteresis_total
0   ABW   AFG         2017  0.065851          0.000000
1   ABW   AFG         2018  0.398446          0.065851
2   ABW   AFG         2019  0.254087          0.418202

* Unique cultural goods trade

In [85]:
unique_long = unique_long[~unique_long['iso_o'].isin(remove_from_trade)]
unique_long = unique_long[~unique_long['iso_d'].isin(remove_from_trade)]

In [86]:
print(unique_long['iso_o'].nunique())
print(unique_long['iso_d'].nunique())

190
190

In [87]:
unique_long = unique_long.rename(columns = {'OBS_VALUE': 'unique_cultural_tr'})

In [88]:
unique_long.head(3)

,iso_o,iso_d,PRODUCT_HS,TIME_PERIOD,unique_cultural_tr,ADJUSTMENT,hysteresis_unique
0,ABW,AGO,HS17_97,2014,0.000028,B_ADJ_RX,0.000000
1,ABW,ARE,HS17_97,2005,0.000641,B_ADJ_RX,0.000000
2,ABW,ARE,HS17_97,2014,0.000053,B_ADJ_RX,0.000641

* Reproducible cultural goods trade

In [89]:
repro_long = repro_long[~repro_long['iso_o'].isin(remove_from_trade)]
repro_long = repro_long[~repro_long['iso_d'].isin(remove_from_trade)]

In [90]:
print(repro_long['iso_o'].nunique())
print(repro_long['iso_d'].nunique())

190
190

In [91]:
repro_long = repro_long.rename(columns = {'OBS_VALUE': 'reproducible_cultural_tr'})

In [92]:
repro_long.head(3)

,iso_o,iso_d,TIME_PERIOD,reproducible_cultural_tr,PRODUCT_HS,product_count,hysteresis_repro
0,ABW,AFG,2019,0.012061,"('HS17_49', 'HS17_85')",2,0.000000
1,ABW,AGO,2008,0.000165,"('HS17_85',)",1,0.000000
2,ABW,AGO,2011,0.000076,"('HS17_85',)",1,0.000165

* Fixed

In [93]:
remove_from_fixed = list(set(fixed_long['iso_o'].unique()) - set(attribute2000_2023['iso_o'].unique()))

In [94]:
fixed_long = fixed_long[~fixed_long['iso_o'].isin(remove_from_fixed)]
fixed_long = fixed_long[~fixed_long['iso_d'].isin(remove_from_fixed)]

In [95]:
print(fixed_long['iso_o'].nunique())
print(fixed_long['iso_d'].nunique())

190
190

In [96]:
#fixed_long[fixed_long['development'].isna()]

In [97]:
fixed_long.loc[fixed_long['country'] == 'Bermuda', 'development'] = 1
fixed_long.loc[fixed_long['country'] == 'Cuba', 'development'] = 0
fixed_long.loc[fixed_long['country'] == 'French Polynesia', 'development'] = 1
fixed_long.loc[fixed_long['country'] == 'Greenland', 'development'] = 1
fixed_long.loc[fixed_long['country'] == 'New Caledonia', 'development'] = 1

## Preparing the panel data

In [98]:
panel_total = attribute2000_2023.merge(total_long, on = ['iso_o', 'TIME_PERIOD'])

In [99]:
print(total_long.groupby(['iso_o', 'iso_d']).ngroups)
print(panel_total.groupby(['iso_o', 'iso_d']).ngroups)

34043
34043

In [100]:
print(total_long['iso_o'].nunique(), total_long['iso_d'].nunique(), total_long['TIME_PERIOD'].nunique())
print(panel_total['iso_o'].nunique(), panel_total['iso_d'].nunique(), panel_total['TIME_PERIOD'].nunique())
print(attribute2000_2023['iso_o'].nunique(), attribute2000_2023['TIME_PERIOD'].nunique())

190 190 24
190 190 24
190 24

In [101]:
panel_total = panel_total[['country', 'iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'hysteresis_total', 'gdp', 'log_gdp', 'D_log_gdp', 'gdp_pct','log_gdp_pct', 'D_log_gdp_pct', 'population', 'log_population','trade_gdp_ratio', 'log_trade_gdp_ratio']]

In [102]:
panel_total.head(3)

,country,iso_o,iso_d,TIME_PERIOD,total_tr,hysteresis_total,gdp,log_gdp,D_log_gdp,gdp_pct,log_gdp_pct,D_log_gdp_pct,population,log_population,trade_gdp_ratio,log_trade_gdp_ratio
0,Aruba,ABW,ARE,2000,0.000101,0.0,1.873453e+09,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216
1,Aruba,ABW,ARG,2000,0.034091,0.0,1.873453e+09,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216
2,Aruba,ABW,ATG,2000,0.039110,0.0,1.873453e+09,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216

**Merging the previous data with unique cultural goods trade data**

In [103]:
unique_clean = unique_long.drop(columns=['PRODUCT_HS', 'ADJUSTMENT']).drop_duplicates() #removing these two columns

In [104]:
unique_clean.head(2)

  iso_o iso_d  TIME_PERIOD  unique_cultural_tr  hysteresis_unique
0   ABW   AGO         2014            0.000028                0.0
1   ABW   ARE         2005            0.000641                0.0

In [105]:
panel_total2 = panel_total.merge(unique_clean, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how = 'left')

In [106]:
panel_total2.head(2)

,country,iso_o,iso_d,TIME_PERIOD,total_tr,hysteresis_total,gdp,log_gdp,D_log_gdp,gdp_pct,log_gdp_pct,D_log_gdp_pct,population,log_population,trade_gdp_ratio,log_trade_gdp_ratio,unique_cultural_tr,hysteresis_unique
0,Aruba,ABW,ARE,2000,0.000101,0.0,1.873453e+09,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216,NaN,NaN
1,Aruba,ABW,ARG,2000,0.034091,0.0,1.873453e+09,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216,NaN,NaN

In [107]:
# sanity check
panel_total2[(panel_total2['iso_o'] == 'ABW') & (panel_total2['iso_d'] == 'AGO') & (panel_total2['TIME_PERIOD'] == 2014)]

,country,iso_o,iso_d,TIME_PERIOD,total_tr,hysteresis_total,gdp,log_gdp,D_log_gdp,gdp_pct,log_gdp_pct,D_log_gdp_pct,population,log_population,trade_gdp_ratio,log_trade_gdp_ratio,unique_cultural_tr,hysteresis_unique
1139,Aruba,ABW,AGO,2014,0.037197,4.822801,2.790850e+09,21.749613,0.022833,26129.84,10.170834,0.012177,106807,11.578779,162.88,5.093014,0.000028,0.0

In [108]:
panel_total2 = panel_total2[['country', 'iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr', 'hysteresis_total', 'hysteresis_unique','gdp', 'log_gdp', 'D_log_gdp', 'gdp_pct','log_gdp_pct', 'D_log_gdp_pct', 'population', 'log_population','trade_gdp_ratio', 'log_trade_gdp_ratio']]

In [109]:
print(unique_long.groupby(['iso_o', 'iso_d']).ngroups)
print(panel_total2.groupby(['iso_o', 'iso_d']).ngroups)

17414
34043

In [110]:
print(unique_long['iso_o'].nunique(), unique_long['iso_d'].nunique(), unique_long['TIME_PERIOD'].nunique())
print(panel_total2['iso_o'].nunique(), panel_total2['iso_d'].nunique(), panel_total2['TIME_PERIOD'].nunique())

190 190 24
190 190 24

**Merging the previous data with reproducible goods trade data**

In [111]:
repro_long.head(2)

,iso_o,iso_d,TIME_PERIOD,reproducible_cultural_tr,PRODUCT_HS,product_count,hysteresis_repro
0,ABW,AFG,2019,0.012061,"('HS17_49', 'HS17_85')",2,0.0
1,ABW,AGO,2008,0.000165,"('HS17_85',)",1,0.0

In [112]:
repro_clean = repro_long.drop(columns=['PRODUCT_HS', 'product_count']).drop_duplicates() #removing these two columns

In [113]:
panel_total3 = panel_total2.merge(repro_clean, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how='left')

In [114]:
panel_total3 = panel_total3[['country', 'iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr', 'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique', 'hysteresis_repro','gdp', 'log_gdp', 'D_log_gdp', 'gdp_pct','log_gdp_pct', 'D_log_gdp_pct', 'population', 'log_population','trade_gdp_ratio', 'log_trade_gdp_ratio']]

In [115]:
# sanity check
panel_total3[(panel_total3['iso_o'] == 'ABW') & (panel_total3['iso_d'] == 'AGO') & (panel_total3['TIME_PERIOD'] == 2014)]

,country,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,gdp,log_gdp,D_log_gdp,gdp_pct,log_gdp_pct,D_log_gdp_pct,population,log_population,trade_gdp_ratio,log_trade_gdp_ratio
1139,Aruba,ABW,AGO,2014,0.037197,0.000028,NaN,4.822801,0.0,NaN,2.790850e+09,21.749613,0.022833,26129.84,10.170834,0.012177,106807,11.578779,162.88,5.093014

In [116]:
print(repro_long['iso_o'].nunique(), repro_long['iso_d'].nunique(), repro_long['TIME_PERIOD'].nunique())
print(panel_total3['iso_o'].nunique(), panel_total3['iso_d'].nunique(), panel_total3['TIME_PERIOD'].nunique())

190 190 24
190 190 24

In [117]:
print(panel_total3['iso_o'].nunique(), panel_total3['iso_d'].nunique(), panel_total3['TIME_PERIOD'].nunique())

190 190 24

In [118]:
rta_long = pd.read_csv("../data/cleaned/rta_long.csv")

In [119]:
rta_long.head(3)

  iso_o iso_d  year  rta
0   ABW   AFG  2000    0
1   ABW   AFG  2001    0
2   ABW   AFG  2002    0

In [120]:
rta_long = rta_long.rename(columns = {'year': 'TIME_PERIOD'})

In [121]:
panel_total4 = panel_total3.merge(rta_long, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how='left')

In [122]:
panel_total4.head(2)

,country,iso_o,iso_d,TIME_PERIOD,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,...,log_gdp,D_log_gdp,gdp_pct,log_gdp_pct,D_log_gdp_pct,population,log_population,trade_gdp_ratio,log_trade_gdp_ratio,rta
0,Aruba,ABW,ARE,2000,0.000101,NaN,NaN,0.0,NaN,NaN,...,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216,0.0
1,Aruba,ABW,ARG,2000,0.034091,NaN,0.000104,0.0,NaN,0.0,...,21.351049,0.083773,20681.02,9.936972,0.073462,90588,11.414077,145.07001,4.977216,0.0

In [123]:
import itertools

In [124]:
panel_total4.columns

Index(['country', 'iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr',
       'unique_cultural_tr', 'reproducible_cultural_tr', 'hysteresis_total',
       'hysteresis_unique', 'hysteresis_repro', 'gdp', 'log_gdp', 'D_log_gdp',
       'gdp_pct', 'log_gdp_pct', 'D_log_gdp_pct', 'population',
       'log_population', 'trade_gdp_ratio', 'log_trade_gdp_ratio', 'rta'],
      dtype='object')

In [125]:
panel_total4_tr = panel_total4[['country', 'iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr',
       'unique_cultural_tr', 'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique', 'hysteresis_repro', 'rta']]

In [126]:
country_list = panel_total4['iso_o'].unique()
print(len(country_list))
years = list(range(2000, 2024))
panel_df = pd.MultiIndex.from_product([country_list, country_list, years], names=['iso_o', 'iso_d', 'TIME_PERIOD'])
panel_df_blank = panel_df.to_frame(index=False)

190

In [127]:
(190*190 - 190)*24

861840

In [128]:
panel_df_blank.shape

(866400, 3)

In [129]:
panel_df_blank = panel_df_blank[panel_df_blank['iso_o'] != panel_df_blank['iso_d']]
only_trade = panel_df_blank.merge(panel_total4_tr, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how = 'left')

In [130]:
assert only_trade.shape[0] == panel_df_blank.shape[0]

In [131]:
#print(only_trade[(only_trade['iso_o'] == 'BGD') & (only_trade['iso_d'] == 'IND')])

In [132]:
only_trade['total_tr'] = only_trade['total_tr'].fillna(0)
only_trade['unique_cultural_tr'] = only_trade['unique_cultural_tr'].fillna(0)
only_trade['reproducible_cultural_tr'] = only_trade['reproducible_cultural_tr'].fillna(0)
only_trade['hysteresis_total'] = only_trade['hysteresis_total'].fillna(0)
only_trade['hysteresis_unique'] = only_trade['hysteresis_unique'].fillna(0)
only_trade['hysteresis_repro'] = only_trade['hysteresis_repro'].fillna(0)

In [133]:
trade_time_series_attribute = only_trade.merge(attribute2000_2023, on = ['iso_o', 'TIME_PERIOD'], how = 'left')

In [134]:
assert only_trade.shape[0] == panel_df_blank.shape[0] == trade_time_series_attribute.shape[0]

In [135]:
assert attribute2000_2023['iso_o'].nunique() == only_trade['iso_o'].nunique() ==  panel_df_blank['iso_o'].nunique() == trade_time_series_attribute['iso_o'].nunique()

In [136]:
#rade_time_series_attribute.head(20)

In [137]:
trade_time_series_attribute['D_log_gdp'] = trade_time_series_attribute['D_log_gdp'].fillna(0)
trade_time_series_attribute['D_log_gdp_pct'] = trade_time_series_attribute['D_log_gdp_pct'].fillna(0)

In [138]:
#trade_time_series_attribute[['GDP_pct', 'population', 'trade_gdp_ratio', 'log_population', 'log_trade_gdp_ratio']].isnull().mean()

In [139]:
#raise SystemExit("Stop!")

In [140]:
trade_time_series_attribute =  trade_time_series_attribute.merge(fixed_long, on = ['iso_o', 'iso_d'], how = 'left')

In [141]:
trade_time_series_attribute.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'country_x', 'total_tr',
       'unique_cultural_tr', 'reproducible_cultural_tr', 'hysteresis_total',
       'hysteresis_unique', 'hysteresis_repro', 'rta', 'country_y', 'gdp',
       'gdp_pct', 'population', 'trade_gdp_ratio', 'log_gdp',
       'log_trade_gdp_ratio', 'log_gdp_pct', 'log_population', 'country_id',
       'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off', 'colony',
       'comcol', 'dist', 'log_dist', 'country', 'landlocked', 'continent',
       'lat', 'lon', 'langoff_1', 'colonizer1', 'category', 'development'],
      dtype='object')

In [142]:
#trade_time_series_attribute[['country_x']].head()

In [143]:
trade_time_series_attribute = trade_time_series_attribute.drop(columns = ['country_x', 'country_y', 'country_id'])

#### Creating variables for destination countries using a copy of the original dataset

In [144]:
partner_attributes = trade_time_series_attribute.copy()

In [145]:
partner_attributes.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development'],
      dtype='object')

In [146]:
#removing all dyad level factors
partner_attributes = partner_attributes.drop(columns = ['iso_d', 'total_tr', 'unique_cultural_tr', 'rta', 'reproducible_cultural_tr', 'contig', 'comlang_off',
       'colony', 'comcol', 'log_dist', 'dist', 'lat', 'lon', 'colonizer1', 'langoff_1','hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro'])

In [147]:
partner_attributes.columns

Index(['iso_o', 'TIME_PERIOD', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'country', 'landlocked',
       'continent', 'category', 'development'],
      dtype='object')

In [148]:
partner_attributes = partner_attributes.rename(columns = {'iso_o': 'iso_d'})
partner_attributes = partner_attributes.rename(columns = {'country': 'country_d'})
partner_attributes = partner_attributes.rename(columns = {'gdp': 'gdp_d'})
partner_attributes = partner_attributes.rename(columns = {'log_gdp': 'log_gdp_d'})
partner_attributes = partner_attributes.rename(columns = {'D_log_gdp': 'D_log_gdp_d'})
partner_attributes = partner_attributes.rename(columns = {'population': 'population_d'})
partner_attributes = partner_attributes.rename(columns = {'log_population': 'log_population_d'})
partner_attributes = partner_attributes.rename(columns = {'gdp_pct': 'gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'log_gdp_pct': 'log_gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'D_log_gdp_pct': 'D_log_gdp_pct_d'})
partner_attributes = partner_attributes.rename(columns = {'trade_gdp_ratio': 'trade_gdp_ratio_d'})
partner_attributes = partner_attributes.rename(columns = {'log_trade_gdp_ratio': 'log_trade_gdp_ratio_d'})
partner_attributes = partner_attributes.rename(columns = {'landlocked': 'landlocked_d'})
partner_attributes = partner_attributes.rename(columns = {'continent': 'continent_d'})
partner_attributes = partner_attributes.rename(columns = {'category': 'category_d'})
partner_attributes = partner_attributes.rename(columns = {'development': 'development_d'})

In [149]:
partner_attributes.columns

Index(['iso_d', 'TIME_PERIOD', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'category_d',
       'development_d'],
      dtype='object')

In [150]:
search_duplicate_row = ['iso_d', 'TIME_PERIOD']

In [151]:
partner_attributes_duplicate = partner_attributes.duplicated(subset = search_duplicate_row,  keep = 'last')

In [152]:
partner_attributes_final = partner_attributes[~partner_attributes_duplicate]

In [153]:
assert partner_attributes_final.shape[0] == attribute2000_2023.shape[0]

In [154]:
complete = trade_time_series_attribute.merge(partner_attributes_final, on = ['iso_d', 'TIME_PERIOD'], how = 'left')

In [155]:
complete.shape

(861840, 50)

In [156]:
complete.columns

Index(['iso_o', 'iso_d', 'TIME_PERIOD', 'total_tr', 'unique_cultural_tr',
       'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique',
       'hysteresis_repro', 'rta', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp', 'contig', 'comlang_off',
       'colony', 'comcol', 'dist', 'log_dist', 'country', 'landlocked',
       'continent', 'lat', 'lon', 'langoff_1', 'colonizer1', 'category',
       'development', 'gdp_d', 'gdp_pct_d', 'population_d',
       'trade_gdp_ratio_d', 'log_gdp_d', 'log_trade_gdp_ratio_d',
       'log_gdp_pct_d', 'log_population_d', 'D_log_gdp_pct_d', 'D_log_gdp_d',
       'country_d', 'landlocked_d', 'continent_d', 'category_d',
       'development_d'],
      dtype='object')

In [224]:
s = complete.columns

In [225]:
len(s)

51

In [159]:
complete[['country', 'country_d']].head(3)

  country    country_d
0   Aruba  Afghanistan
1   Aruba  Afghanistan
2   Aruba  Afghanistan

In [226]:
complete_order = complete[['iso_o', 'iso_d', 'TIME_PERIOD', 'country','country_d', 'total_tr', 'unique_cultural_tr',
'reproducible_cultural_tr', 'hysteresis_total', 'hysteresis_unique','hysteresis_repro','rta', 'gdp', 'gdp_d','log_gdp', 'log_gdp_d', 'D_log_gdp','D_log_gdp_d',
'gdp_pct', 'gdp_pct_d', 'log_gdp_pct', 'log_gdp_pct_d', 'D_log_gdp_pct','D_log_gdp_pct_d', 'trade_gdp_ratio','trade_gdp_ratio_d', 'log_trade_gdp_ratio', 'log_trade_gdp_ratio_d','population', 'population_d', 'log_population', 'log_population_d', 'continent', 'continent_d', 'landlocked', 'landlocked_d', 'category', 'category_d', 'development', 'development_d','contig','comlang_off', 
'colony', 'comcol', 'dist', 'log_dist', 'lat', 'lon']]

In [227]:
t = complete_order.columns

In [228]:
set(s) - set(t)

{'colonizer1', 'dyad_id', 'langoff_1'}

In [163]:
complete_order['rta'].dtypes

dtype('float64')

In [164]:
complete_order['rta'].value_counts(dropna=False)

rta
0.0    477938
NaN    233021
1.0    150881
Name: count, dtype: int64

In [165]:
complete_order = complete_order.fillna(0)

In [166]:
assert complete_order.shape[0]== only_trade.shape[0] == panel_df_blank.shape[0] == trade_time_series_attribute.shape[0]

In [167]:
print(complete_order.duplicated(subset=['iso_o', 'iso_d', 'TIME_PERIOD']).any())

False

In [168]:
print(complete_order['iso_o'].nunique())
print(complete_order['iso_d'].nunique())
print(complete_order['TIME_PERIOD'].nunique())
print(complete_order['log_gdp'].nunique())
print(complete_order['D_log_gdp_d'].nunique())
print(complete_order['log_population'].nunique())
print(complete_order['log_population_d'].nunique())
print(complete_order['log_dist'].nunique())
print(complete_order.groupby(['iso_o', 'iso_d']).ngroups) #190*190 is 36100 possible dyads while removing 190 self loops make it (36100- 190) = 35910 dyads
print(complete_order.shape)

190
190
24
4527
4483
4558
4558
17927
35910
(861840, 48)

In [221]:
complete_order.shape

(861840, 48)

In [170]:

# 34782/2 = 17391 #So the unique value of country pair distance column is almost near half of the number of total unique dyads in the data.

In [222]:
complete.shape

(861840, 51)

In [171]:
complete['dyad_id'] = complete['iso_o'] + '-' + complete['iso_d']

In [172]:
complete.to_csv("../data/cleaned/panel_complete.csv", encoding = 'utf-8', index = False)

In [173]:
#raise SystemExit("Stop!")

### Adding node level fixed data with node attribute data sets
steps:
>1. Merging the attributeYEAR data with the nodal_fixed data for every year starting from 2000 and ending at 2023
>2. Looking for missing value in the 'category' column and manually impute 1 for developed and 0 for developing to the 'development' column based on WDI income categories. If WDI classifies the countru with hign income, then I am considering it as developed and 0 otherwise.
>3. The Stata do file produces lagged values of GDP per capita and GDP variables and adds to the long format attribute dataset. To add those lag values to the year level attributeYEAR datasets, we first rename those variables to their lowercase so that they match the stata processed dataset.
>4. Then the long format dataset is separated into 24 different dataframes and merged with the corresponding attributeYEAR dataset on the 'iso_o' column.
>5. Saving with the same name as attributeYEAR.csv, so that no few data file is created and the attribute for each year has the fixed factor columns

In [174]:
at2000 = pd.read_csv("../data/cleaned/attribute2000.csv")
at2001 = pd.read_csv("../data/cleaned/attribute2001.csv")
at2002 = pd.read_csv("../data/cleaned/attribute2002.csv")
at2003 = pd.read_csv("../data/cleaned/attribute2003.csv")
at2004 = pd.read_csv("../data/cleaned/attribute2004.csv")
at2005 = pd.read_csv("../data/cleaned/attribute2005.csv")
at2006 = pd.read_csv("../data/cleaned/attribute2006.csv")
at2007 = pd.read_csv("../data/cleaned/attribute2007.csv")
at2008 = pd.read_csv("../data/cleaned/attribute2008.csv")
at2009 = pd.read_csv("../data/cleaned/attribute2009.csv")
at2010 = pd.read_csv("../data/cleaned/attribute2010.csv")
at2011 = pd.read_csv("../data/cleaned/attribute2011.csv")
at2012 = pd.read_csv("../data/cleaned/attribute2012.csv")
at2013 = pd.read_csv("../data/cleaned/attribute2013.csv")
at2014 = pd.read_csv("../data/cleaned/attribute2014.csv")
at2015 = pd.read_csv("../data/cleaned/attribute2015.csv")
at2016 = pd.read_csv("../data/cleaned/attribute2016.csv")
at2017 = pd.read_csv("../data/cleaned/attribute2017.csv")
at2018 = pd.read_csv("../data/cleaned/attribute2018.csv")
at2019 = pd.read_csv("../data/cleaned/attribute2019.csv")
at2020 = pd.read_csv("../data/cleaned/attribute2020.csv")
at2021 = pd.read_csv("../data/cleaned/attribute2021.csv")
at2022 = pd.read_csv("../data/cleaned/attribute2022.csv")
at2023 = pd.read_csv("../data/cleaned/attribute2023.csv")
node_fix = pd.read_csv("../data/cleaned/nodal_fixed.csv")

In [175]:
at2023.head(3)

,iso_o,Country,Time,GDP,GDP_pct,population,trade_gdp_ratio,log_GDP,log_trade_gdp_ratio
0,AFG,Afghanistan,2023,1.715223e+10,413.76,41454761.0,67.58,23.565394,4.213312
1,ALB,Albania,2023,2.354718e+10,8575.17,2745972.0,82.49,23.882272,4.412677
2,DZA,Algeria,2023,2.476262e+11,5364.03,46164219.0,43.68,26.235186,3.776890

In [176]:
m = set(node_fix['iso_o'].unique()) - set(at2000['iso_o'].unique())
node_fix = node_fix[~node_fix['iso_o'].isin(m)]
set(node_fix['iso_o'].unique()) - set(at2000['iso_o'].unique())
node_fix = node_fix.reset_index(drop= True)

In [177]:
at2000_fix = at2000.merge(node_fix, on = ['iso_o'], how = 'left')
at2001_fix = at2001.merge(node_fix, on = ['iso_o'], how = 'left')
at2002_fix = at2002.merge(node_fix, on = ['iso_o'], how = 'left')
at2003_fix = at2003.merge(node_fix, on = ['iso_o'], how = 'left')
at2004_fix = at2004.merge(node_fix, on = ['iso_o'], how = 'left')
at2005_fix = at2005.merge(node_fix, on = ['iso_o'], how = 'left')
at2006_fix = at2006.merge(node_fix, on = ['iso_o'], how = 'left')
at2007_fix = at2007.merge(node_fix, on = ['iso_o'], how = 'left')
at2008_fix = at2008.merge(node_fix, on = ['iso_o'], how = 'left')
at2009_fix = at2009.merge(node_fix, on = ['iso_o'], how = 'left')
at2010_fix = at2010.merge(node_fix, on = ['iso_o'], how = 'left')
at2011_fix = at2011.merge(node_fix, on = ['iso_o'], how = 'left')
at2012_fix = at2012.merge(node_fix, on = ['iso_o'], how = 'left')
at2013_fix = at2013.merge(node_fix, on = ['iso_o'], how = 'left')
at2014_fix = at2014.merge(node_fix, on = ['iso_o'], how = 'left')
at2015_fix = at2015.merge(node_fix, on = ['iso_o'], how = 'left')
at2016_fix = at2016.merge(node_fix, on = ['iso_o'], how = 'left')
at2017_fix = at2017.merge(node_fix, on = ['iso_o'], how = 'left')
at2018_fix = at2018.merge(node_fix, on = ['iso_o'], how = 'left')
at2019_fix = at2019.merge(node_fix, on = ['iso_o'], how = 'left')
at2020_fix = at2020.merge(node_fix, on = ['iso_o'], how = 'left')
at2021_fix = at2021.merge(node_fix, on = ['iso_o'], how = 'left')
at2022_fix = at2022.merge(node_fix, on = ['iso_o'], how = 'left')
at2023_fix = at2023.merge(node_fix, on = ['iso_o'], how = 'left')

In [212]:
at2000_fix.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development'],
      dtype='object')

In [179]:
at2000_fix.loc[at2000_fix['Country'] == 'Bermuda', 'development'] = 1
at2000_fix.loc[at2000_fix['Country'] == 'Cuba', 'development'] = 0
at2000_fix.loc[at2000_fix['Country'] == 'French Polynesia', 'development'] = 1
at2000_fix.loc[at2000_fix['Country'] == 'Greenland', 'development'] = 1
at2000_fix.loc[at2000_fix['Country'] == 'New Caledonia', 'development'] = 1

In [180]:
at2001_fix.loc[at2001_fix['Country'] == 'Bermuda', 'development'] = 1
at2001_fix.loc[at2001_fix['Country'] == 'Cuba', 'development'] = 0
at2001_fix.loc[at2001_fix['Country'] == 'French Polynesia', 'development'] = 1
at2001_fix.loc[at2001_fix['Country'] == 'Greenland', 'development'] = 1
at2001_fix.loc[at2001_fix['Country'] == 'New Caledonia', 'development'] = 1

In [181]:
at2002_fix.loc[at2002_fix['Country'] == 'Bermuda', 'development'] = 1
at2002_fix.loc[at2002_fix['Country'] == 'Cuba', 'development'] = 0
at2002_fix.loc[at2002_fix['Country'] == 'French Polynesia', 'development'] = 1
at2002_fix.loc[at2002_fix['Country'] == 'Greenland', 'development'] = 1
at2002_fix.loc[at2002_fix['Country'] == 'New Caledonia', 'development'] = 1

In [182]:
at2003_fix.loc[at2003_fix['Country'] == 'Bermuda', 'development'] = 1
at2003_fix.loc[at2003_fix['Country'] == 'Cuba', 'development'] = 0
at2003_fix.loc[at2003_fix['Country'] == 'French Polynesia', 'development'] = 1
at2003_fix.loc[at2003_fix['Country'] == 'Greenland', 'development'] = 1
at2003_fix.loc[at2003_fix['Country'] == 'New Caledonia', 'development'] = 1

In [183]:
at2004_fix.loc[at2004_fix['Country'] == 'Bermuda', 'development'] = 1
at2004_fix.loc[at2004_fix['Country'] == 'Cuba', 'development'] = 0
at2004_fix.loc[at2004_fix['Country'] == 'French Polynesia', 'development'] = 1
at2004_fix.loc[at2004_fix['Country'] == 'Greenland', 'development'] = 1
at2004_fix.loc[at2004_fix['Country'] == 'New Caledonia', 'development'] = 1

In [184]:
at2005_fix.loc[at2005_fix['Country'] == 'Bermuda', 'development'] = 1
at2005_fix.loc[at2005_fix['Country'] == 'Cuba', 'development'] = 0
at2005_fix.loc[at2005_fix['Country'] == 'French Polynesia', 'development'] = 1
at2005_fix.loc[at2005_fix['Country'] == 'Greenland', 'development'] = 1
at2005_fix.loc[at2005_fix['Country'] == 'New Caledonia', 'development'] = 1

In [185]:
at2006_fix.loc[at2006_fix['Country'] == 'Bermuda', 'development'] = 1
at2006_fix.loc[at2006_fix['Country'] == 'Cuba', 'development'] = 0
at2006_fix.loc[at2006_fix['Country'] == 'French Polynesia', 'development'] = 1
at2006_fix.loc[at2006_fix['Country'] == 'Greenland', 'development'] = 1
at2006_fix.loc[at2006_fix['Country'] == 'New Caledonia', 'development'] = 1

In [186]:
at2007_fix.loc[at2007_fix['Country'] == 'Bermuda', 'development'] = 1
at2007_fix.loc[at2007_fix['Country'] == 'Cuba', 'development'] = 0
at2007_fix.loc[at2007_fix['Country'] == 'French Polynesia', 'development'] = 1
at2007_fix.loc[at2007_fix['Country'] == 'Greenland', 'development'] = 1
at2007_fix.loc[at2007_fix['Country'] == 'New Caledonia', 'development'] = 1

In [187]:
at2008_fix.loc[at2008_fix['Country'] == 'Bermuda', 'development'] = 1
at2008_fix.loc[at2008_fix['Country'] == 'Cuba', 'development'] = 0
at2008_fix.loc[at2008_fix['Country'] == 'French Polynesia', 'development'] = 1
at2008_fix.loc[at2008_fix['Country'] == 'Greenland', 'development'] = 1
at2008_fix.loc[at2008_fix['Country'] == 'New Caledonia', 'development'] = 1

In [188]:
at2009_fix.loc[at2009_fix['Country'] == 'Bermuda', 'development'] = 1
at2009_fix.loc[at2009_fix['Country'] == 'Cuba', 'development'] = 0
at2009_fix.loc[at2009_fix['Country'] == 'French Polynesia', 'development'] = 1
at2009_fix.loc[at2009_fix['Country'] == 'Greenland', 'development'] = 1
at2009_fix.loc[at2009_fix['Country'] == 'New Caledonia', 'development'] = 1

In [189]:
at2010_fix.loc[at2010_fix['Country'] == 'Bermuda', 'development'] = 1
at2010_fix.loc[at2010_fix['Country'] == 'Cuba', 'development'] = 0
at2010_fix.loc[at2010_fix['Country'] == 'French Polynesia', 'development'] = 1
at2010_fix.loc[at2010_fix['Country'] == 'Greenland', 'development'] = 1
at2010_fix.loc[at2010_fix['Country'] == 'New Caledonia', 'development'] = 1

In [190]:
at2011_fix.loc[at2011_fix['Country'] == 'Bermuda', 'development'] = 1
at2011_fix.loc[at2011_fix['Country'] == 'Cuba', 'development'] = 0
at2011_fix.loc[at2011_fix['Country'] == 'French Polynesia', 'development'] = 1
at2011_fix.loc[at2011_fix['Country'] == 'Greenland', 'development'] = 1
at2011_fix.loc[at2011_fix['Country'] == 'New Caledonia', 'development'] = 1

In [191]:
at2012_fix.loc[at2012_fix['Country'] == 'Bermuda', 'development'] = 1
at2012_fix.loc[at2012_fix['Country'] == 'Cuba', 'development'] = 0
at2012_fix.loc[at2012_fix['Country'] == 'French Polynesia', 'development'] = 1
at2012_fix.loc[at2012_fix['Country'] == 'Greenland', 'development'] = 1
at2012_fix.loc[at2012_fix['Country'] == 'New Caledonia', 'development'] = 1

In [192]:
at2013_fix.loc[at2013_fix['Country'] == 'Bermuda', 'development'] = 1
at2013_fix.loc[at2013_fix['Country'] == 'Cuba', 'development'] = 0
at2013_fix.loc[at2013_fix['Country'] == 'French Polynesia', 'development'] = 1
at2013_fix.loc[at2013_fix['Country'] == 'Greenland', 'development'] = 1
at2013_fix.loc[at2013_fix['Country'] == 'New Caledonia', 'development'] = 1

In [193]:
at2014_fix.loc[at2014_fix['Country'] == 'Bermuda', 'development'] = 1
at2014_fix.loc[at2014_fix['Country'] == 'Cuba', 'development'] = 0
at2014_fix.loc[at2014_fix['Country'] == 'French Polynesia', 'development'] = 1
at2014_fix.loc[at2014_fix['Country'] == 'Greenland', 'development'] = 1
at2014_fix.loc[at2014_fix['Country'] == 'New Caledonia', 'development'] = 1

In [194]:
at2015_fix.loc[at2015_fix['Country'] == 'Bermuda', 'development'] = 1
at2015_fix.loc[at2015_fix['Country'] == 'Cuba', 'development'] = 0
at2015_fix.loc[at2015_fix['Country'] == 'French Polynesia', 'development'] = 1
at2015_fix.loc[at2015_fix['Country'] == 'Greenland', 'development'] = 1
at2015_fix.loc[at2015_fix['Country'] == 'New Caledonia', 'development'] = 1

In [195]:
at2016_fix.loc[at2016_fix['Country'] == 'Bermuda', 'development'] = 1
at2016_fix.loc[at2016_fix['Country'] == 'Cuba', 'development'] = 0
at2016_fix.loc[at2016_fix['Country'] == 'French Polynesia', 'development'] = 1
at2016_fix.loc[at2016_fix['Country'] == 'Greenland', 'development'] = 1
at2016_fix.loc[at2016_fix['Country'] == 'New Caledonia', 'development'] = 1

In [196]:
at2017_fix.loc[at2017_fix['Country'] == 'Bermuda', 'development'] = 1
at2017_fix.loc[at2017_fix['Country'] == 'Cuba', 'development'] = 0
at2017_fix.loc[at2017_fix['Country'] == 'French Polynesia', 'development'] = 1
at2017_fix.loc[at2017_fix['Country'] == 'Greenland', 'development'] = 1
at2017_fix.loc[at2017_fix['Country'] == 'New Caledonia', 'development'] = 1

In [197]:
at2018_fix.loc[at2018_fix['Country'] == 'Bermuda', 'development'] = 1
at2018_fix.loc[at2018_fix['Country'] == 'Cuba', 'development'] = 0
at2018_fix.loc[at2018_fix['Country'] == 'French Polynesia', 'development'] = 1
at2018_fix.loc[at2018_fix['Country'] == 'Greenland', 'development'] = 1
at2018_fix.loc[at2018_fix['Country'] == 'New Caledonia', 'development'] = 1

In [198]:
at2019_fix.loc[at2019_fix['Country'] == 'Bermuda', 'development'] = 1
at2019_fix.loc[at2019_fix['Country'] == 'Cuba', 'development'] = 0
at2019_fix.loc[at2019_fix['Country'] == 'French Polynesia', 'development'] = 1
at2019_fix.loc[at2019_fix['Country'] == 'Greenland', 'development'] = 1
at2019_fix.loc[at2019_fix['Country'] == 'New Caledonia', 'development'] = 1

In [199]:
at2020_fix.loc[at2020_fix['Country'] == 'Bermuda', 'development'] = 1
at2020_fix.loc[at2020_fix['Country'] == 'Cuba', 'development'] = 0
at2020_fix.loc[at2020_fix['Country'] == 'French Polynesia', 'development'] = 1
at2020_fix.loc[at2020_fix['Country'] == 'Greenland', 'development'] = 1
at2020_fix.loc[at2020_fix['Country'] == 'New Caledonia', 'development'] = 1

In [200]:
at2021_fix.loc[at2021_fix['Country'] == 'Bermuda', 'development'] = 1
at2021_fix.loc[at2021_fix['Country'] == 'Cuba', 'development'] = 0
at2021_fix.loc[at2021_fix['Country'] == 'French Polynesia', 'development'] = 1
at2021_fix.loc[at2021_fix['Country'] == 'Greenland', 'development'] = 1
at2021_fix.loc[at2021_fix['Country'] == 'New Caledonia', 'development'] = 1

In [201]:
at2022_fix.loc[at2022_fix['Country'] == 'Bermuda', 'development'] = 1
at2022_fix.loc[at2022_fix['Country'] == 'Cuba', 'development'] = 0
at2022_fix.loc[at2022_fix['Country'] == 'French Polynesia', 'development'] = 1
at2022_fix.loc[at2022_fix['Country'] == 'Greenland', 'development'] = 1
at2022_fix.loc[at2022_fix['Country'] == 'New Caledonia', 'development'] = 1

In [202]:
at2023_fix.loc[at2023_fix['Country'] == 'Bermuda', 'development'] = 1
at2023_fix.loc[at2023_fix['Country'] == 'Cuba', 'development'] = 0
at2023_fix.loc[at2023_fix['Country'] == 'French Polynesia', 'development'] = 1
at2023_fix.loc[at2023_fix['Country'] == 'Greenland', 'development'] = 1
at2023_fix.loc[at2023_fix['Country'] == 'New Caledonia', 'development'] = 1

In [203]:
at2023_fix[at2023_fix['category'].isna()]

,iso_o,Country,Time,GDP,GDP_pct,population,trade_gdp_ratio,log_GDP,log_trade_gdp_ratio,country,landlocked,continent,lat,lon,langoff_1,colonizer1,category,development
20,BMU,Bermuda,2023,8.579242e+09,132604.44,64698.0,73.59,22.872611,4.298509,Bermuda,0,America,32.299999,-64.800003,English,GBR,NaN,1.0
44,CUB,Cuba,2023,3.139658e+12,NaN,11019931.0,108.14,28.775135,4.683427,Cuba,0,America,23.116667,-82.416664,Spanish,ESP,NaN,0.0
62,PYF,French Polynesia,2023,6.402221e+09,22774.14,281118.0,68.71,22.579911,4.229895,French Polynesia,0,Pacific,-17.533333,-149.566670,French,FRA,NaN,1.0
69,GRL,Greenland,2023,3.326544e+09,58498.97,56865.0,91.89,21.925200,4.520592,Greenland,0,America,64.183334,-51.733334,Greenlandic,DNK,NaN,1.0
126,NCL,New Caledonia,2023,3.139658e+12,NaN,289870.0,NaN,28.775135,NaN,New Caledonia,0,Pacific,-22.266666,166.450000,French,FRA,NaN,1.0

### Adding the lag variables to the attributes datasets

In [204]:
at2000_fix = at2000_fix.rename(columns = {'GDP': 'gdp'})
at2000_fix = at2000_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2000_fix = at2000_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2001_fix = at2001_fix.rename(columns = {'GDP': 'gdp'})
at2001_fix = at2001_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2001_fix = at2001_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2002_fix = at2002_fix.rename(columns = {'GDP': 'gdp'})
at2002_fix = at2002_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2002_fix = at2002_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2003_fix = at2003_fix.rename(columns = {'GDP': 'gdp'})
at2003_fix = at2003_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2003_fix = at2003_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2004_fix = at2004_fix.rename(columns = {'GDP': 'gdp'})
at2004_fix = at2004_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2004_fix = at2004_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2005_fix = at2005_fix.rename(columns = {'GDP': 'gdp'})
at2005_fix = at2005_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2005_fix = at2005_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2006_fix = at2006_fix.rename(columns = {'GDP': 'gdp'})
at2006_fix = at2006_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2006_fix = at2006_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2007_fix = at2007_fix.rename(columns = {'GDP': 'gdp'})
at2007_fix = at2007_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2007_fix = at2007_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2008_fix = at2008_fix.rename(columns = {'GDP': 'gdp'})
at2008_fix = at2008_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2008_fix = at2008_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2009_fix = at2009_fix.rename(columns = {'GDP': 'gdp'})
at2009_fix = at2009_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2009_fix = at2009_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2010_fix = at2010_fix.rename(columns = {'GDP': 'gdp'})
at2010_fix = at2010_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2010_fix = at2010_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2011_fix = at2011_fix.rename(columns = {'GDP': 'gdp'})
at2011_fix = at2011_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2011_fix = at2011_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2012_fix = at2012_fix.rename(columns = {'GDP': 'gdp'})
at2012_fix = at2012_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2012_fix = at2012_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2013_fix = at2013_fix.rename(columns = {'GDP': 'gdp'})
at2013_fix = at2013_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2013_fix = at2013_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2014_fix = at2014_fix.rename(columns = {'GDP': 'gdp'})
at2014_fix = at2014_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2014_fix = at2014_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2015_fix = at2015_fix.rename(columns = {'GDP': 'gdp'})
at2015_fix = at2015_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2015_fix = at2015_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2016_fix = at2016_fix.rename(columns = {'GDP': 'gdp'})
at2016_fix = at2016_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2016_fix = at2016_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2017_fix = at2017_fix.rename(columns = {'GDP': 'gdp'})
at2017_fix = at2017_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2017_fix = at2017_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2018_fix = at2018_fix.rename(columns = {'GDP': 'gdp'})
at2018_fix = at2018_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2018_fix = at2018_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2019_fix = at2019_fix.rename(columns = {'GDP': 'gdp'})
at2019_fix = at2019_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2019_fix = at2019_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2020_fix = at2020_fix.rename(columns = {'GDP': 'gdp'})
at2020_fix = at2020_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2020_fix = at2020_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2021_fix = at2021_fix.rename(columns = {'GDP': 'gdp'})
at2021_fix = at2021_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2021_fix = at2021_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2022_fix = at2022_fix.rename(columns = {'GDP': 'gdp'})
at2022_fix = at2022_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2022_fix = at2022_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

at2023_fix = at2023_fix.rename(columns = {'GDP': 'gdp'})
at2023_fix = at2023_fix.rename(columns = {'log_GDP': 'log_gdp'})
at2023_fix = at2023_fix.rename(columns = {'GDP_pct': 'gdp_pct'})

In [205]:
attribute2000_2023.head()

,iso_o,country,TIME_PERIOD,gdp,gdp_pct,population,trade_gdp_ratio,log_gdp,log_trade_gdp_ratio,log_gdp_pct,log_population,country_id,D_log_gdp_pct,D_log_gdp
1,ABW,Aruba,2000,1.873453e+09,20681.020,90588,145.07001,21.351049,4.977216,9.936972,11.414077,ABW,0.073462,0.083773
2,ABW,Aruba,2001,1.896457e+09,20740.131,91439,140.39000,21.363253,4.944424,9.939826,11.423428,ABW,0.002854,0.012203
3,ABW,Aruba,2002,1.961844e+09,21307.250,92074,133.23000,21.397150,4.892077,9.966803,11.430347,ABW,0.026977,0.033897
4,ABW,Aruba,2003,2.044112e+09,21949.490,93128,132.78999,21.438229,4.888769,9.996499,11.441730,ABW,0.029696,0.041079
5,ABW,Aruba,2004,2.254831e+09,23700.631,95138,132.42999,21.536341,4.886054,10.073256,11.463084,ABW,0.076757,0.098112

In [206]:
attribute2000_2023 = attribute2000_2023[['iso_o','TIME_PERIOD', 'log_gdp_pct', 'log_population', 'D_log_gdp_pct', 'D_log_gdp']]

In [207]:
lag2000 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2000]
lag2001 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2001]
lag2002 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2002]
lag2003 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2003]
lag2004 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2004]
lag2005 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2005]
lag2006 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2006]
lag2007 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2007]
lag2008 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2008]
lag2009 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2009]
lag2010 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2010]
lag2011 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2011]
lag2012 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2012]
lag2013 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2013]
lag2014 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2014]
lag2015 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2015]
lag2016 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2016]
lag2017 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2017]
lag2018 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2018]
lag2019 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2019]
lag2020 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2020]
lag2021 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2021]
lag2022 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2022]
lag2023 = attribute2000_2023[attribute2000_2023['TIME_PERIOD'] == 2023]

In [208]:
lag2020.head()

    iso_o  TIME_PERIOD  log_gdp_pct  log_population  D_log_gdp_pct  D_log_gdp
21    ABW         2020    10.036966       11.595307      -0.307875  -0.313532
46    AFG         2020     6.235959       17.480839       0.028174   0.059700
71    AGO         2020     7.279263       17.325596      -0.412330  -0.379644
96    ALB         2020     8.588728       14.858557      -0.016555  -0.022297
121   AND         2020    10.528385       11.256484      -0.099211  -0.087433

In [209]:
at2000_f = at2000_fix.merge(lag2000, on = ['iso_o'], how = 'left')
at2001_f = at2001_fix.merge(lag2001, on = ['iso_o'], how = 'left')
at2002_f = at2002_fix.merge(lag2002, on = ['iso_o'], how = 'left')
at2003_f = at2003_fix.merge(lag2003, on = ['iso_o'], how = 'left')
at2004_f = at2004_fix.merge(lag2004, on = ['iso_o'], how = 'left')
at2005_f = at2005_fix.merge(lag2005, on = ['iso_o'], how = 'left')
at2006_f = at2006_fix.merge(lag2006, on = ['iso_o'], how = 'left')
at2007_f = at2007_fix.merge(lag2007, on = ['iso_o'], how = 'left')
at2008_f = at2008_fix.merge(lag2008, on = ['iso_o'], how = 'left')
at2009_f = at2009_fix.merge(lag2009, on = ['iso_o'], how = 'left')
at2010_f = at2010_fix.merge(lag2010, on = ['iso_o'], how = 'left')
at2011_f = at2011_fix.merge(lag2011, on = ['iso_o'], how = 'left')
at2012_f = at2012_fix.merge(lag2012, on = ['iso_o'], how = 'left')
at2013_f = at2013_fix.merge(lag2013, on = ['iso_o'], how = 'left')
at2014_f = at2014_fix.merge(lag2014, on = ['iso_o'], how = 'left')
at2015_f = at2015_fix.merge(lag2015, on = ['iso_o'], how = 'left')
at2016_f = at2016_fix.merge(lag2016, on = ['iso_o'], how = 'left')
at2017_f = at2017_fix.merge(lag2017, on = ['iso_o'], how = 'left')
at2018_f = at2018_fix.merge(lag2018, on = ['iso_o'], how = 'left')
at2019_f = at2019_fix.merge(lag2019, on = ['iso_o'], how = 'left')
at2020_f = at2020_fix.merge(lag2020, on = ['iso_o'], how = 'left')
at2021_f = at2021_fix.merge(lag2021, on = ['iso_o'], how = 'left')
at2022_f = at2022_fix.merge(lag2022, on = ['iso_o'], how = 'left')
at2023_f = at2023_fix.merge(lag2023, on = ['iso_o'], how = 'left')

In [210]:
at2000_f.columns

Index(['iso_o', 'Country', 'Time', 'gdp', 'gdp_pct', 'population',
       'trade_gdp_ratio', 'log_gdp', 'log_trade_gdp_ratio', 'country',
       'landlocked', 'continent', 'lat', 'lon', 'langoff_1', 'colonizer1',
       'category', 'development', 'TIME_PERIOD', 'log_gdp_pct',
       'log_population', 'D_log_gdp_pct', 'D_log_gdp'],
      dtype='object')

In [211]:
at2000_f.to_csv("../data/cleaned/attribute2000.csv", encoding = 'utf-8', index = False)
at2001_f.to_csv("../data/cleaned/attribute2001.csv", encoding = 'utf-8', index = False)
at2002_f.to_csv("../data/cleaned/attribute2002.csv", encoding = 'utf-8', index = False)
at2003_f.to_csv("../data/cleaned/attribute2003.csv", encoding = 'utf-8', index = False)
at2004_f.to_csv("../data/cleaned/attribute2004.csv", encoding = 'utf-8', index = False)
at2005_f.to_csv("../data/cleaned/attribute2005.csv", encoding = 'utf-8', index = False)
at2006_f.to_csv("../data/cleaned/attribute2006.csv", encoding = 'utf-8', index = False)
at2007_f.to_csv("../data/cleaned/attribute2007.csv", encoding = 'utf-8', index = False)
at2008_f.to_csv("../data/cleaned/attribute2008.csv", encoding = 'utf-8', index = False)
at2009_f.to_csv("../data/cleaned/attribute2009.csv", encoding = 'utf-8', index = False)
at2010_f.to_csv("../data/cleaned/attribute2010.csv", encoding = 'utf-8', index = False)
at2011_f.to_csv("../data/cleaned/attribute2011.csv", encoding = 'utf-8', index = False)
at2012_f.to_csv("../data/cleaned/attribute2012.csv", encoding = 'utf-8', index = False)
at2013_f.to_csv("../data/cleaned/attribute2013.csv", encoding = 'utf-8', index = False)
at2014_f.to_csv("../data/cleaned/attribute2014.csv", encoding = 'utf-8', index = False)
at2015_f.to_csv("../data/cleaned/attribute2015.csv", encoding = 'utf-8', index = False)
at2016_f.to_csv("../data/cleaned/attribute2016.csv", encoding = 'utf-8', index = False)
at2017_f.to_csv("../data/cleaned/attribute2017.csv", encoding = 'utf-8', index = False)
at2018_f.to_csv("../data/cleaned/attribute2018.csv", encoding = 'utf-8', index = False)
at2019_f.to_csv("../data/cleaned/attribute2019.csv", encoding = 'utf-8', index = False)
at2020_f.to_csv("../data/cleaned/attribute2020.csv", encoding = 'utf-8', index = False)
at2021_f.to_csv("../data/cleaned/attribute2021.csv", encoding = 'utf-8', index = False)
at2022_f.to_csv("../data/cleaned/attribute2022.csv", encoding = 'utf-8', index = False)
at2023_f.to_csv("../data/cleaned/attribute2023.csv", encoding = 'utf-8', index = False)

## Long format trade data for residual calculation

In [ ]:
country_list = panel_total4['iso_o'].unique()
print(len(country_list))
years = list(range(2000, 2024))
panel_df = pd.MultiIndex.from_product([country_list, country_list, years], names=['iso_o', 'iso_d', 'TIME_PERIOD'])
panel_df_blank = panel_df.to_frame(index=False)

In [ ]:
only_trade = panel_df_blank.merge(panel_total4_tr, on = ['iso_o', 'iso_d', 'TIME_PERIOD'], how = 'left')

In [ ]:
only_trade['total_tr'] = only_trade['total_tr'].fillna(0)
only_trade['unique_cultural_tr'] = only_trade['unique_cultural_tr'].fillna(0)
only_trade['reproducible_cultural_tr'] = only_trade['reproducible_cultural_tr'].fillna(0)
only_trade['hysteresis_total'] = only_trade['hysteresis_total'].fillna(0)
only_trade['hysteresis_unique'] = only_trade['hysteresis_unique'].fillna(0)
only_trade['hysteresis_repro'] = only_trade['hysteresis_repro'].fillna(0)

In [215]:
only_trade['TIME_PERIOD'].nunique()

,iso_o,iso_d,TIME_PERIOD,country,total_tr,unique_cultural_tr,reproducible_cultural_tr,hysteresis_total,hysteresis_unique,hysteresis_repro,rta
0,ABW,AFG,2000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
1,ABW,AFG,2001,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
2,ABW,AFG,2002,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3,ABW,AFG,2003,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4,ABW,AFG,2004,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
861835,ZWE,ZMB,2019,Zimbabwe,57.304677,0.000000,5.191727,98.394424,0.000000,7.750402,1.0
861836,ZWE,ZMB,2020,Zimbabwe,56.448352,0.000000,4.697084,86.823004,0.000000,7.516848,1.0
861837,ZWE,ZMB,2021,Zimbabwe,72.497875,0.008197,5.294659,82.495253,0.026241,6.952139,1.0
861838,ZWE,ZMB,2022,Zimbabwe,87.750059,0.005818,5.786046,97.246451,0.016069,7.380301,1.0
861839,ZWE,ZMB,2023,Zimbabwe,94.819514,0.002435,5.570087,116.923994,0.010638,8.000137,1.0

In [218]:
print(only_trade['iso_o'].nunique())
print(only_trade['iso_d'].nunique())
print(only_trade['TIME_PERIOD'].nunique())
print(only_trade.groupby(['iso_o', 'iso_d']).ngroups)

190
190
24
35910

In [230]:
only_trade.to_csv("../data/cleaned/trade.csv", encoding = 'utf-8', index = False)